<div class="centered-container">
	<h1><%= t(".title") %></h1>

	<%= render 'form', profile: @profile, url: dummy_profile_path, html: {"data-animation-type" => "slideLeft"} %>

	<%= link_to t(".back"), who_path, "data-animation-type" => "slideRight"%>
</div>
