<% content_for :body_class, 'vertical-center is-dark-contrast body--has-columns' %>
<% content_for :main_class, 'container--is-vertically-centered' %>
<div>
	<div class="columns">
		<div class="landing-text column">
			<h1 class="header">Let's talk about sex</h1>
			<p>It's a fact: the only risk-free sex is no sex. But there are a limitless reasons to have sex, and limitless ways, and we think that's worthwhile. </p>
			<h2>Is risk limitless too?</h2>
			<p> The good news is, it's not. There are a lot of scare tactics and myths out there that can leave us confused about how much risk our sex lives really involve: Can we get or give an STI from that? When should we get tested? What will happen if a test comes back positive?</p>
			<h2>BedPost wants you to have the answers</h2>
			<p>This is the last time you’ll hear us talk about risk. Tailored to your body and the sex you have with it, BedPost helps you cut the confusion and shame and assess the likelihood of Sexually Transmitted Infection (STI) based on the sex you have. We’ll also provide you with a testing schedule tailored to your behavior. </p>
			<p>And if you want to figure out how to reduce that likelihood? We've got tips for that too, but we're not pushy about it.</p>
		</div>
		<div class="login column">
			<div class="container--is-card container--has-contrast-background">
				<div class="login">
					<% if ENV['IS_BETA'] %>
						<h1>Join Our Beta</h1>
						<h2>To participate in our Beta, please take our survey. Once that's completed, we'll send you an email with a token to let you get started!</h2>
						<%= link_to 'Take me to the survey!', ENV['SURVEY_URL'], class: 'cta cta--is-form-submit', target: '_blank' %>
						<p>Already signed up? <a href="/login" class="link container--has-contrast-background__link">Log in here</a></p>
					<% else %>
						<%= render 'form'%>
					<% end %>
				</div>
			</div>
	</div>
</div>
</div>
