<% body_class 'is-dark-contrast' %>
<div class="login ">
	<div class="container--is-card container--has-contrast-background container--is-narrow container--is-centered"><%= render 'form' %></div>
</div>
