.partnership-link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
	text-transform: none;

	&__name {
		font-size: 1.75rem;
		margin-bottom: 0.15rem;
		line-height: 1.15;

		@include media("<tablet") {
			font-size: 1.5rem;
		}
	}
}

#view-toggle {
	z-index: 1;
	position: relative;
}
.partnership-chart-container {
	width: 30rem;
	max-width: 100%;
	margin: 0rem auto;
	text-align: center;

	#radar-chart {
		margin: -5rem 0rem -3rem 0rem;
	}
}
