files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_yarn_install.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR

      echo "installing yarn packages"
      yarn install
