files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_exec_assets_compile.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      # EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      # EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      # cd $EB_APP_STAGING_DIR
      # echo "compiling using bundle exec"
      # bundle exec rake assets:precompile
