<div class="center">
  <h2>Recent tests <span class="help plus"><a href=<%= new_sti_test_path %>><%= image_tag "plus.png" %></a></span></h2>
  <hr>
  <ul>
    <% @sti_tests.each do |tst| %>
    <li class="bubble partner">
      <%= link_to tst.date_taken, sti_test_path(tst) %>
      <br><br>
      <strong>Tested for:</strong>
      <br>
      <% tst.infections.each do |infection| %>
      <% if infection.positive %>
        <span class="poz">
      <% else %>
        <span class="neg">
      <% end %>
        <%= @diseases.find{|d| d[:name] ==infection.disease.intern}[:readable] %>
        </span>
        <br>
      <% end %>
    </li>
    <br>
    <% end %>
  </ul>

</div>
