<h1 style="text-align: center; margin: 15px 0px;">Welcome to BedPost, <%= @user.name %></h1>
<h2 style="text-align: center;">We're so excited you've made it!</h2>

<p>Before you get started tracking, we wanted to take this chance to talk to you about our plans and dreams for this Beta test.</p>
<p>We’re looking to launch a full version of the app for Android and iPhone in April 2020. The Beta version of BedPost will be available until our app goes live, and then all of your account data will be there for you in the full release. </p>
<p>You can save the app as an icon on your phone for easy use for now. Check our FAQ for instructions. <a href="https://bedpost.me/FAQ#starting"><b>https://bedpost.me/FAQ#starting</b></a></p>
<p>Please use the app as you normally would during this Beta. The more you use BedPost, the more you’ll figure out what we can do for you in the future.</p>
<h3 style="text-align: center;">We want that feedback!</h3>
<p>The BedPost team can’t wait to tailor the app based on your feedback. Break it, dream big, we want it all.</p>
<p>You can: </p>
<p><%= link_to '<b>Request Features</b>'.html_safe, feedback_url(feedback_type: 'feature'), target: '_blank' %> and <%= link_to '<b>Report Bugs</b>'.html_safe, feedback_url(feedback_type: 'bug'), target: '_blank' %> any time using these links (which you’ll also find at the bottom of the navigation menu in the app). </p>
<p>We’ll also be sending you two surveys during the Beta. Your feedback on these surveys will be crucial in determining what we chase, and what we move to the back-burner, so please take a few minutes to share with us. </p>
<br>
xoxo <br>
The BedPost Team <br>
Enoch Riese - founder
<br>
<p>PS - We’d love it if you shared BedPost with your friends and lovers using this link <a href="https://www.surveymonkey.com/r/X97MS6X">https://www.surveymonkey.com/r/X97MS6X</a></p>
