///////////////////////
// theming
///////////////////////
@function theme-light($color-key) {
	@return map-get($colors-light, $color-key);
}

@function theme-dark($color-key) {
	@return map-get($colors-dark, $color-key);
}

@mixin themed($prop: background-color, $map-key: "background") {
	body.is-light & {
		#{$prop}: theme-light($map-key);
	}

	body.is-dark & {
		#{$prop}: theme-dark($map-key);
	}
}

@mixin themed-inverse($prop: background-color, $map-key: "background") {
	body.is-light & {
		#{$prop}: theme-dark($map-key);
	}

	body.is-dark & {
		#{$prop}: theme-light($map-key);
	}
}

@mixin themed-with-cards($prop: background-color, $map-key: "background") {
	body.is-light.has-cards & {
		#{$prop}: theme-light($map-key);
	}

	body.is-dark.has-cards & {
		#{$prop}: theme-dark($map-key);
	}
}
///////////////////////
// text styles
///////////////////////
@mixin heading1 {
	font-family: $font-header;
	font-size: rem(40px);
	margin: 0.5rem 0;
	text-align: center;
	line-height: 1.15;
	color: theme-light("h1");

	&.header {
		margin-top: 0;
	}

	body.has-cards & {
		color: $color-white;
	}

	body.has-cards .card &, body.is-dark.has-cards & {
		color: theme-light("h1");
	}

	body.is-dark &, body.is-dark.has-cards .card & {
		color: theme-dark("h1");
	}
}

@mixin heading2 {
	color: theme-light("h2");;
	font-weight: 700;
	font-size: rem(24px);
	text-align: center;

	body.has-cards & {
		color: $color-white;
	}

	body.has-cards .card & {
		color: theme-light("h2");
	}

	body.is-dark &, body.is-dark.has-cards .card & {
		color: theme-dark("h2");
	}

	&.has-desc {
		margin-bottom: 0.25em;
	}
}

@mixin base-text {
	font-size: rem(13px);
	line-height: rem(18px);
}

@mixin base-input($multiplier: 1) {
	border-radius: $input-border-radius * $multiplier;
	border-width: rem(1px) * $multiplier;
	padding: 0.2rem * $multiplier 1rem * $multiplier;
	height: $input-height * $multiplier;
	line-height: 1 * $multiplier;
	font-size: 0.75rem * $multiplier;
}

////////////////////////
// box styles
////////////////////////

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin self-clearing {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

///////////////////////
// ctas
///////////////////////

@mixin cta-base {
	cursor: pointer;
	padding: rem(10px) rem(30px);
	border-style: none;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 3rem;
	min-width: 8rem;
	text-decoration: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
}

@mixin cta-transition {
	transition-duration: 0.3s;
	transition-property: color, background-color, box-shadow, stroke, opacity, border-color;
	transition-timing-function: ease-in-out;
}

@mixin cta-text-colors($theme: $colors-light, $suffix: "", $property: color) {
	#{$property}: map-get($theme, "cta-text");
	&:hover, &:focus {
		&:not(:disabled) {
			#{$property}: map-get($theme, "cta-bg#{$suffix}");
		}
	}
}

@mixin cta-background-colors($theme: $colors-light, $suffix: "", $property: background-color) {
	#{$property}: map-get($theme, "cta-bg#{$suffix}");
	&:hover, &:focus {
		&:not(:disabled) {
			#{$property}: map-get($theme, "cta-text");
		}
	}
}

@mixin cta-colors($theme: $colors-light, $suffix: "") {
	@include cta-text-colors($theme, $suffix, color);
	@include cta-background-colors($theme, $suffix, background-color);
	box-shadow: $box-shadow-val map-get($theme, "shadow");
}

@mixin cta($theme: $colors-light, $suffix: "") {
	@include cta-base;
	@include cta-colors($theme, $suffix);
	@include cta-transition;
}

@mixin disabled {
	opacity: 0.5;
	cursor: default;
}

///////////////////////
// link
///////////////////////
@mixin link-colors($theme: $colors-light, $suffix: "", $property: color) {
	#{$property}: map-get($theme, "link#{$suffix}");
	&:hover, &:focus {
		&:not(:disabled) {
			#{$property}: map-get($theme, "link-light#{$suffix}");
		}
	}
}

@mixin link($theme: $colors-light, $suffix: "") {
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	padding: 0;
	transition: 0.1s linear color;
	text-decoration: underline;
	background-color: transparent;
	@include link-colors($theme, $suffix);
}
