<div class="right">
  <div id="wrapper">
    <p>
      BedPost offers users a simple, customizable, gender, sexuality, and body-neutral interface for cataloguing their sexual practices, sexual partners, and STI test results. The app allows them to take control of their sexual health by analyzing likelihood of infection in individual sexual encounters and keeping track of which partners might be at risk.
    </p>
  </div>
</div>
<div class="center"><%= form_tag "/login" %>
  Email: <%= text_field_tag :email %><br>
  Password: <%= password_field_tag :password %><br>
  <%= submit_tag "Log In"%>
  </div>

