<h2 class="centered-text"><%= t(".title", count: @partnerships.size, partner_name: @partnerships[0].display(@partner_names[0])) %></h2>
<div class="desc"><%= link_to t(".all"), encounters_path %></div>
<div><%= link_to t(".new"), @partnership.present? ? new_partnership_encounter_path(@partnership) : encounters_who_path %></div>
<encounter-calendar></encounter-calendar>
