<div class="center">
  <h2>What now?</h2>
  <hr>
  <div class="bubble">
    Your highest risks from this encounter are for:
    <% @diseases[3].each do |disease| %>
      <br>
      <%= disease[:readable] %>
    <% end %>
  </div>
  <br>
  <div class="bubble">
    Your moderate risks from this encounter are for:
    <% @diseases[2].each do |disease| %>
      <br>
      <%= "#{disease[:readable]}: #{disease[:earliest]}-#{disease[:best]}" %>
    <% end %>
  </div>
  <br>
  <div class="bubble">
    Your low risks from this encounter are for:
    <% @diseases[1].each do |disease| %>
      <br>
      <%= "#{disease[:readable]}: #{disease[:earliest]}-#{disease[:best]}" %>
    <% end %>
  </div>
</div>
