<h1>Partnerships</h1>
<% if current_user_profile.partnerships.empty? %>
	<h2><%= t('.no_partnerships') %></h2>
<% end %>
<%= display_partners %>
<%= link_to t(".new_partnership"), new_partnership_path, :class => "link" %>
