<div class="login">
	<h1>Request password reset</h1>
	<%= vuelidate_form_with scope: :reset, class: "big centered" do |f| %>
	<%= f.email_field :email %>
	<%= f.submit class: "btn-submit" %>
	<% end %>
</div>
