@import 'include-media-or/dist/_include-media-or';
///////////////////////
// initial setup
///////////////////////
$root-font-size: 16px;

@function rem($numPx) {
	@return ($numPx / $root-font-size) * 1rem;
}

///////////////////////
// fonts
///////////////////////
$text-font: 'Open Sans', sans-serif;
$font-header: 'Baloo', cursive;

///////////////////////
// spacing
///////////////////////
$spacing-default: 1rem;
$spacing-medium:  $spacing-default * 1.5;
$spacing-double:  $spacing-default * 2;
$spacing-small:   $spacing-default / 2;
$spacing-tiny:    $spacing-default / 4;

///////////////////////
// sizing
///////////////////////
$nav-width: rem(250px);
$nav-button-width: rem(36px);
$default-border-radius: 0.95rem;
$default-border-radius-small: rem(5px);
$box-shadow-val: 0px 0px 2px 1px;
$box-shadow-val-small: 0px 0px 1px 1px;
$constrained-width: 30rem;

///////////////////////
// breakpoints
///////////////////////
$screen-tablet: 580px;
$screen-phone: 376px;
$custom-media-expressions: (
	"!retina": ('(-webkit-max-device-pixel-ratio: 1)', '(max--moz-device-pixel-ratio: 1)', '(-o-max-device-pixel-ratio: 1)', '(max-device-pixel-ratio: 1)'),
	"retina": ('(min--moz-device-pixel-ratio: 1.5)', '(-o-min-device-pixel-ratio: 3/2)', '(-webkit-min-device-pixel-ratio: 1.5)', '(min-device-pixel-ratio: 1.5)', '(min-resolution: 144dpi)', '(min-resolution: 1.5dppx)'),
);
$media-expressions: map-merge($media-expressions, $custom-media-expressions);
$breakpoints: map-merge($breakpoints, ("tablet": $screen-tablet, "phone": $screen-phone));
$mobile: "<tablet" ("retina", "retina2x", "retina3x");

///////////////////////
// Colors
///////////////////////
// browns
$coyote-tracks: #af8b82;
$roxy-brown: #7A534A;
$chocolate-fondant: #56362E;

// oranges
$canyon-rose: #af6a64;
$lolly: #fc9890;
$pale-jasper: #ffd6cc;

// purples
$tolopea: #2e2143;
$jakarta-skyline: #433060;
$dahlia-purple: #8365b2;
$liliac: #bc92ff;

// pinks
$potent-purple: #472537;
$scintillating-violet: #7a405e;
$guppy-violet: #af5d87;
$bonny-belle: #c78dab;

// grays
$white: #ffffff;
$super-silver: #eeeeee;
$spanish-grey: #979797;
$nymphs-delight: #7b6e90;
$squant: #666666;
$carbon: #333333;

$color-black: #333;
$color-off-white: #EEE;
$color-white: #FFF;
///////////////////////
// Themes
///////////////////////

$colors-light: (
	"cta-text": $color-white,
	"cta-bg": $scintillating-violet,
	"cta-bg-light": $canyon-rose,
	"cta-bg-form": $guppy-violet,
	"link": $scintillating-violet,
	"link-light": $canyon-rose,
	"link-light-light": $bonny-belle,
	"shadow": rgba($color-black, 0.3),
	"h1": $jakarta-skyline,
	"h2": $color-black,
	"background": $color-white,
	"background-contrast": $guppy-violet,
	"text": $color-black,
	"input-border": $scintillating-violet,
	"input-border-focus": $canyon-rose,
	"form-background": $guppy-violet,
);

$colors-dark: (
	"cta-text": $tolopea,
	"cta-bg": $bonny-belle,
	"cta-bg-light": $lolly,
	"cta-bg-form": $lolly,
	"link": $bonny-belle,
	"link-light": $lolly,
	"link-light-light": $guppy-violet,
	"shadow": rgba($color-white, 0.3),
	"h1": $pale-jasper,
	"h2": $color-off-white,
	"background": $tolopea,
	"background-contrast": $lolly,
	"text": $color-white,
	"input-border": $scintillating-violet,
	"input-border-focus": $pale-jasper,
	"form-background": $lolly,
);

$colors-light-contrast: (
	"cta-text": $color-white,
	"cta-bg": map-get($colors-light, "cta-bg"),
	"cta-bg-light": $canyon-rose,
	"cta-bg-form": $guppy-violet,
	"link": map-get($colors-light, "link"),
	"link-light": $canyon-rose,
	"link-light-light": $bonny-belle,
	"shadow": rgba($color-black, 0.3),
	"h1": $color-white,
	"h2": $color-white,
	"background": map-get($colors-light, "background-contrast"),
	"background-contrast": $color-white,
	"text": $color-black,
	"input-border": $scintillating-violet,
	"input-border-focus": $canyon-rose,
	"form-background": $guppy-violet,
);

$colors-dark-contrast: (
	"cta-text": $potent-purple,
	"cta-bg": $bonny-belle,
	"cta-bg-light": $lolly,
	"cta-bg-form": $liliac,
	"link": $bonny-belle,
	"link-light": $lolly,
	"link-light-light": $guppy-violet,
	"shadow": rgba($color-white, 0.3),
	"h1": $lolly,
	"h2": $pale-jasper,
	"background": $potent-purple,
	"background-contrast": $pale-jasper,
	"text": $color-white,
	"input-border": $liliac,
	"input-border-focus": $bonny-belle,
	"form-background": $liliac,
);

$colors-flesh: (
	"cta-text": $pale-jasper,
	"cta-bg": $tolopea,
	"cta-bg-light": $roxy-brown,
	"cta-bg-form": $scintillating-violet,
	"link": $tolopea,
	"link-light": $roxy-brown,
	"link-light-light": $scintillating-violet,
	"shadow": rgba($color-white, 0.3),
	"h1": $jakarta-skyline,
	"h2": $scintillating-violet,
	"background": $pale-jasper,
	"background-contrast": $color-white,
	"text": $scintillating-violet,
	"input-border": $roxy-brown,
	"input-border-focus": $tolopea,
	"form-background": $pale-jasper
);

$colors-flesh-contrast: (
	"cta-text": $color-white,
	"cta-bg": $dahlia-purple,
	"cta-bg-light": $roxy-brown,
	"cta-bg-form": $scintillating-violet,
	"link": $dahlia-purple,
	"link-light": $roxy-brown,
	"link-light-light": $scintillating-violet,
	"shadow": rgba($color-white, 0.3),
	"h1": $chocolate-fondant,
	"h2": $scintillating-violet,
	"background": $color-white,
	"background-contrast": $pale-jasper,
	"text": $scintillating-violet,
	"input-border": $dahlia-purple,
	"input-border-focus": $roxy-brown,
	"form-background": $pale-jasper
);

$themes: (
	"light": $colors-light,
	"dark": $colors-dark,
	"light-contrast": $colors-light-contrast,
	"dark-contrast": $colors-dark-contrast,
	"flesh": $colors-flesh,
	"flesh-contrast": $colors-flesh-contrast
);

$themes-inverse: (
	"light": $colors-dark,
	"dark": $colors-light,
	"light-contrast": $colors-dark-contrast,
	"dark-contrast": $colors-light,
	"flesh": $colors-dark-contrast,
	"flesh-contrast": $colors-flesh
);

$themes-contrast: (
	"light": $colors-light-contrast,
	"dark": $colors-dark-contrast,
	"light-contrast": $colors-light,
	"dark-contrast": $colors-flesh,
	"flesh": $colors-flesh-contrast,
	"flesh-contrast": $colors-flesh
);

:export {
	@each $key, $value in $colors-dark {
		darkTheme-#{unquote($key)}: $value;
		lightTheme-#{unquote($key)}: map-get($colors-light, $key);
	}
}

///////////////////////
// input defaults
///////////////////////
$input-background-color: $color-white;
$input-border-key: "input-border";
$input-color-key: "input-border";
$input-border-focus-key: "input-border-focus";
$input-height: 2rem;
