* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: $root-font-size;
	font-family: $text-font;
}

body, body.has-cards .card {
	color: theme-light("text");
	background-color: theme-light("background");
}

body.is-dark, body.is-dark.has-cards .card {
	color: theme-dark("text");
	background-color: theme-dark("background");
}

body.has-cards {
	font-weight: bold;
	color: theme-dark("background");
	background-color: theme-light("background-contrast");

	&.is-dark {
		color: theme-dark("background");
		background-color: theme-dark("background-contrast");
	}

	.card {
		font-weight: normal;
	}
}

body.vertical-center {
	#vue-container {
		display: flex;
		flex-direction: column;
		align-items:  stretch;
		justify-content: space-around;
		height: 100%;
		width: 100%;
	}

	&.body--has-columns {
		.header--is-big {
			flex-grow: 1;
		}
	}
	.header {
		&--is-small {
			position: absolute;
			z-index: 900;
			top: 0;
			left: $nav-button-width + $spacing-medium;
			width: calc(100% - #{$nav-button-width + $spacing-medium});
		}
	}

	main {
		flex-grow: 2;
	}
}

h1 {
	@include heading1;
}

h2 {
	@include heading2;
}

.heading {
	&--has-no-top-margin {
		margin-top: 0;
	}
}

header {
	text-align: center;
	font-family: $font-header;
	font-size: rem(55px);
	@include themed(color, "background-contrast");

	body.has-cards & {
		color: theme-dark("h1");
	}

	body.is-dark.has-cards & {
		color: theme-light("h1");
	}

	&.header {
		&--is-small {
			font-size: rem(45px);
			line-height: 1.35;
			padding-top: rem(10px);
			text-align: left;
		}

		&--has-no-nav {
			font-size: rem(32px);
		}
	}
}

main {
	clear: both;
	padding: rem(10px);
	padding-bottom: $spacing-default;
	opacity: 0;

	.no-js & {
		opacity: 1;
	}
}

ul {
	&.no-dots li {
		list-style-type: none;
	}
}

p.description {
	margin-top: 0;
}

#logo {
	text-decoration: none;
}

.card {
	border-radius: $default-border-radius;
	padding: $spacing-medium;
}

.with-js noscript {
	display: none;
}

.no-js {
	header.--is-small {
		position: absolute;
		margin-left: rem(10px);
	}

	header.--is-small + main {
		float: right;
		clear: none;
		width: calc(100% - #{$nav-width});
		box-sizing: border-box;
	}

	.js-only {
		display: none !important;
	}
}

#no-js-warning {
	text-align: center;
	font-weight: bold;
	border: rem(1px) solid;
	@include color-and-secondary(border-color, $background-colors-secondary);
}

#flash {
	text-align: center;
	font-weight: bold;
	clear: both;

	> div {
		padding: 0.25rem;
		border: rem(3px) solid transparent;
		border-radius: $default-border-radius;
		margin-bottom: $spacing-default;
	}

	.flash-notice {
		@include color-and-secondary(border-color, $background-colors-secondary);
		body.has-cards & {
			border-color: nth($colors-h1, 1);
		}
		body.has-cards.is-dark & {
			border-color: nth($colors-h1, 2);
		}
	}

	.flash-alert {
		@include color-and-secondary(border-color, $background-colors-secondary);
		body.has-cards & {
			border-color: nth($colors-h1, 1);
		}
		body.has-cards.is-dark & {
			border-color: nth($colors-h1, 2);
		}
	}

	.flash-error {
		@include color-and-secondary(border-color, $button-colors);
	}

	.flash-message {
		@include color-and-secondary(border-color, $button-hover-colors);
	}
}

.aria-only {
	font-size: 0rem;
}

.clear {
	clear: both;
}

#page-container-inner {
	max-width: rem(1000px);
	margin: 0 auto;
}

.container {
	&--has-centered-text {
		text-align: center;
	}

	&--is-full-height {
		height: 100%;

		&-with-constraint {
			height: 100%;
			max-height: 30rem;
		}
	}

	&--is-scrollable {
		overflow: auto;
	}

	&--vertical-center {
		display: flex;
		align-items: center;
		align-content: center;
	}

	&--has-centered-child {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		&__centered-child {
			height: 0px;
			flex-grow: 1;
		}
	}
}

.centered-container {
	text-align: center;
}

.centered-text {
	text-align: center;
}

.desc {
	h1 + &, h2 + & {
		line-height: 1rem;
		margin-top: -1rem;
		margin-bottom: 1rem;
	}
}

span.confirmation {
	display: block;
}

.edit-button {
	float: right;
}

.rounded-container {
	border-radius: rem(10px);
	padding: rem(10px);
	margin-bottom: rem(10px);
	.rounded-container-title {
		text-align: center;
		margin: 0 0 0.2rem 0;
	}
}

.dark-container {
	@extend .rounded-container;
	background-color: $color-purple-dark;
	color: $color-off-white;
}

.light-container {
	@extend .rounded-container;
	background-color: $color-purple-light;
	color: $color-off-white;
}

.gray-container {
	@extend .rounded-container;
	background-color: $color-light-gray;
}

.dark-gray-container {
	@extend .rounded-container;
	background-color: $color-dark-gray;
	color: $color-off-white;
}

.dark-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-purple-dark;
}

.light-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-purple-light;
}

.gray-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-light-gray;
}

.bubble-container {
	height: 1.9rem;
	position: relative;
	$arrow-size: rem(8px);

	.bubble {
		border-radius: rem(8px);
		padding: 0rem rem(5px);
		display: inline-block;
		border: rem(1px) solid $color-green-dark;
		color: $color-green-dark;
		font-size: 0.8rem;
		position: absolute;
		max-width: 80vw;

		.arrow {
			content: "";
			position: absolute;
			border: $arrow-size solid transparent;
		}

		&.bubble-below {
			margin-top: $arrow-size;
			.arrow{
				top: $arrow-size * -2;
				border-bottom-color: $color-green-dark;
			}
		}

		&.bubble-above .arrow {
			bottom: $arrow-size * -2;
			border-top-color: $color-green-dark;
		}

		&.right-justify {
			margin-left: $arrow-size * 2;
			.arrow {
				right: $arrow-size;
			}
		}

		&.left-justify {
			margin-left: $arrow-size * -2;
			.arrow {
				left: $arrow-size;
			}
		}

		&.center-justify {
			.arrow {
				left: 50%;
				margin-left: -$arrow-size;
			}
		}
	}
}

.vertical-center {
	display: flex;
	align-items: center;
	align-content: center;
}

.clear-fix{
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
