* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: $root-font-size;
}

body {
	font-family: $text-font;
	@include color-and-secondary(color, $color-black $color-white, true, true);
	@include color-and-secondary(background-color, $background-colors, true, true);
	font-size: rem(15px);

	&.with-cards {
		@include color-and-secondary(background-color, $background-colors-secondary, $on-body: true);
		@include color-and-secondary(color, $color-white $color-black, $on-body: true);
	}
}

h1 {
	@include heading1;
}

h2 {
	@include heading2;
}

header {
	text-align: center;
}

main {
	clear: both;
	padding: rem(10px);
	opacity: 0;

	.no-js & {
		opacity: 1;
	}
}

ul {
	&.no-dots li {
		list-style-type: none;
	}
}

p.description {
	margin-top: 0;
}

.card {
	border-radius: $stn-border-radius;
	border: rem(2px) solid;
	@include color-and-secondary(border-color, $colors-h1);
	padding: $spacing-medium;
}

.with-js noscript {
	display: none;
}

.no-js {
	header.small {
		position: absolute;
		margin-left: rem(10px);
	}

	header.small + main {
		float: right;
		clear: none;
		width: calc(100% - #{$nav-width});
		box-sizing: border-box;
	}

	.js-only {
		display: none !important;
	}
}

#no-js-warning {
	text-align: center;
	font-weight: bold;
	border: rem(1px) solid;
	@include color-and-secondary(border-color, $background-colors-secondary);
}

#flash {
	text-align: center;
	font-weight: bold;
	clear: both;

	> div {
		padding: 0.25rem;
		border: rem(3px) solid transparent;
		border-radius: $stn-border-radius;
	}

	.flash-notice {
		@include color-and-secondary(border-color, $background-colors-secondary);
		body.with-cards & {
			border-color: nth($colors-h1, 1);
		}
		body.with-cards.secondary & {
			border-color: nth($colors-h1, 2);
		}
	}

	.flash-alert {
		@include color-and-secondary(border-color, $background-colors-secondary);
		body.with-cards & {
			border-color: nth($colors-h1, 1);
		}
		body.with-cards.secondary & {
			border-color: nth($colors-h1, 2);
		}
	}

	.flash-error {
		@include color-and-secondary(border-color, $button-colors);
	}

	.flash-message {
		@include color-and-secondary(border-color, $button-hover-colors);
	}
}

.aria-only {
	font-size: 0rem;
}

.clear {
	clear: both;
}

#logo {
	font-family: $font-header;
	font-size: rem(55px);
	text-decoration: none;

	@include color-and-secondary(color, $colors1-button-primary $colors2-button-secondary);

	body.with-cards & {
		@include color-and-secondary(color, $colors-h1, true);
	}

	header.small & {
		text-align: left;
		font-size: rem(39px);
		float: left;
		padding-top: rem(10px);
	}
}

#vue-container {
	body.vertical-center & {
		display: flex;
		flex-direction: column;
		align-items:  stretch;
		justify-content: space-around;
		height: 100%;
		width: 100%;

		header {
			flex-grow: 1;
			display: flex;
			align-self: center;
			align-items: center;
		}

		main {
			flex-grow: 2;
		}
	}
}

#page-container-inner {
	max-width: rem(1000px);
	margin: 0 auto;
}

.centered-container {
	text-align: center;
}

.centered-text {
	text-align: center;
}
	
.desc {
	h1 + &, h2 + & {
		line-height: 1rem;
		margin-top: -1rem;
		margin-bottom: 1rem;
	}
}

span.confirmation {
	display: block;
}

.edit-button {
	float: right;
}

.rounded-container {
	border-radius: rem(10px);
	padding: rem(10px);
	margin-bottom: rem(10px);
	.rounded-container-title {
		text-align: center;
		margin: 0 0 0.2rem 0;
	}
}

.dark-container {
	@extend .rounded-container;
	background-color: $color-purple-dark;
	color: $color-off-white;

	button.arrow-button.primary svg {
		&:hover, &:focus {
			stroke: $color-purple-light;
		}
	}
}

.light-container {
	@extend .rounded-container;
	background-color: $color-purple-light;
	color: $color-off-white;

	button.arrow-button.primary svg {
		&:hover, &:focus {
			stroke: $color-purple-dark;
		}
	}
}

.gray-container {
	@extend .rounded-container;
	background-color: $color-light-gray;

	button.arrow-button.primary svg {
		stroke: $color-purple-light;

		&:hover, &:focus {
			stroke: $color-purple-dark;
		}
	}
}

.dark-gray-container {
	@extend .rounded-container;
	background-color: $color-dark-gray;
	color: $color-off-white;
}

.dark-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-purple-dark;
}

.light-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-purple-light;
}

.gray-border-container {
	@extend .rounded-container;
	border: rem(2px) solid $color-light-gray;
}

.bubble-container {
	height: 1.9rem;
	position: relative;
	$arrow-size: rem(8px);

	.bubble {
		border-radius: rem(8px);
		padding: 0rem rem(5px);
		display: inline-block;
		border: rem(1px) solid $color-green-dark;
		color: $color-green-dark;
		font-size: 0.8rem;
		position: absolute;
		max-width: 80vw;

		.arrow {
			content: "";
			position: absolute;
			border: $arrow-size solid transparent;
		}

		&.bubble-below {
			margin-top: $arrow-size;
			.arrow{
				top: $arrow-size * -2;
				border-bottom-color: $color-green-dark;
			}
		}

		&.bubble-above .arrow {
			bottom: $arrow-size * -2;
			border-top-color: $color-green-dark;
		}

		&.right-justify {
			margin-left: $arrow-size * 2;
			.arrow {
				right: $arrow-size;
			}
		}

		&.left-justify {
			margin-left: $arrow-size * -2;
			.arrow {
				left: $arrow-size;
			}
		}

		&.center-justify {
			.arrow {
				left: 50%;
				margin-left: -$arrow-size;
			}
		}
	}
}

.vertical-center {
	display: flex;
	align-items: center;
	align-content: center;
}

.clear-fix{
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
