@media (max-width: rem(500px)) {
	.no-js {
		display: flex;
		flex-wrap: wrap;

		header.small {
			order: 1;
			width: 100%;
			position: static;

			#logo {
				float: none;
			}
		}

		header.small + main {
			width: 100%;
		}

		nav-component {
			order: 2;
			width: 100%;

			nav {
				float: none;
			}

			.burger {
				display: none;
			}

			.menu {
				width: 100%;
				height: auto;
				padding-top: 0rem;

				ul {
					width: 100%;
					text-align: center;

					li {
						font-size: rem(20px);
						line-height: 1;

						a, &.no-link, span {
							padding: rem(5px);
						}
					}
				}
			}
		}

		main {
			order: 3;
			width: 100%;
		}
	}

	body.vertical-center{

		header.header {
			&--is-big {
				display: block;
				text-align: center;
				flex-grow: 0;
			}
		}

		&.body--has-columns #vue-container {
			justify-content: flex-start;
		}
	}
}
