<%= render 'forms/basic_form', skip_header: true, body_class: 'is-flesh', back_path: :back do %>
	<div class="container--has-static-info">
		<h1>About BedPost</h1>
		<p>We're cool!</p>
	</div>
<% end %>
