<%= render 'forms/basic_form', skip_header: true, body_class: 'is-flesh', back_path: :back do %>
	<div class="about container--has-static-info">
		<h1>About BedPost</h1>
		<div>
			<h2>Our Values</h2>
			<h3>No cost to use</h3>
			<p>We'll never charge you to use BedPost, or license it to someone who would charge you.</p>
			<h3>Privacy</h3>
			<p>You always choose who you disclose to. We don't (and won't) sell your data to advertisers, share it with other users, or give it to health care providers.</p>
			<h3>Sex Positivity</h3>
			<p>We're about sex. We want you to get to enjoy it.</p>
			<h3>Harm Reduction</h3>
			<p>We aim to reduce impacts and help you understand likely outcomes, not breed shame or create a standard for "ideal" behavior.</p>
			<h3>Body, Gender, and Sexuality Inclusivity</h3>
			<p>We're not that interested in labels, but BedPost is by trans queers and for trans queers. We want you to get to talk about your body and your sex your way, so we try to make as few assumptions as we can about what's possible, and let you make it your own.</p>
		</div>
		<div>
			<h2>The BedPost Team</h2>
			<p>
				<b>Enoch Riese</b>, Founder/Lead Developer
				<br><b>Kristón Morgan</b>, Designer
				<br><b>Nova Skye</b>, Front End Princess
				<br><b>Charlie Neddo</b>, UX Researcher
				<br><b>Charlotte Brown</b>, Social Media Manager
			</p>
			<p><em>With special thanks to</em>: Charlotte Briggs, Sarah Rosner, Stephanie Rocío, Lauren Gray, Alison Zwecker, Ian Muñoz, Sophie Riese, Tracey Riese, and Jessie Sullivan</p>
		</div>
	</div>
<% end %>
