<%= render 'forms/basic_form', body_class: 'is-flesh', back_path: :back, skip_header: true do %>
	<div class="container--has-static-info">
		<h1>PRIVACY POLICY</h1>
		<p class="desc container--has-centered-text">Last updated January 31, 2020</p>

		<p><b>Thank you for choosing to be part of our community at BedPost App (“Company”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy , or our practices with regards to your personal information, please contact us at <a class="link" target="_blank" href="mailto:support@bedpost.me">support@bedpost.me</a>.</b></p>

		<p>When you visit our website <a class="link" href="https://bedpost.me">bedpost.me</a>, mobile application, and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites or Apps and our services.</p>

		<p>This privacy policy applies to all information collected through our website (such as bedpost.me), mobile application, ("Apps"), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Services").</p>

		<p>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</p>

		<h2 id="table-of-contents">Table of Contents</h2>
		<ol aria-describedby="table-of-contents">
			<li><b><a href="#what-do-we-collect" data-turbolinks="false" class="link">WHAT INFORMATION DO WE COLLECT?</a></b></li>
			<li><b><a href="#how-do-we-use-your-info" data-turbolinks="false" class="link">HOW DO WE USE YOUR INFORMATION?</a></b></li>
			<li><b><a href="#will-we-share-your-data" data-turbolinks="false" class="link">WILL YOUR INFORMATION BE SHARED WITH ANYONE?</a></b></li>
			<li><b><a href="#do-we-use-cookies" data-turbolinks="false" class="link">DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</a></b></li>
			<li><b><a href="#how-long-do-we-keep-info" data-turbolinks="false" class="link">HOW LONG DO WE KEEP YOUR INFORMATION?</a></b></li>
			<li><b><a href="#how-do-we-protect-info" data-turbolinks="false" class="link">HOW DO WE KEEP YOUR INFORMATION SAFE?</a></b></li>
			<li><b><a href="#do-we-collect-info-from-minors" data-turbolinks="false" class="link">DO WE COLLECT INFORMATION FROM MINORS?</a></b></li>
			<li><b><a href="#what-are-your-rights" data-turbolinks="false" class="link">WHAT ARE YOUR PRIVACY RIGHTS?</a></b></li>
			<li><b><a href="#data-breach" data-turbolinks="false" class="link">DATA BREACH</a></b></li>
			<li><b><a href="#controls-for-do-not-track" data-turbolinks="false" class="link">CONTROLS FOR DO-NOT-TRACK FEATURES</a></b></li>
			<li><b><a href="#california-residents" data-turbolinks="false" class="link">DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</a></b></li>
			<li><b><a href="#do-we-update-the-policy" data-turbolinks="false" class="link">DO WE MAKE UPDATES TO THIS POLICY?</a></b></li>
			<li><b><a href="#how-to-contact-us" data-turbolinks="false" class="link">HOW CAN YOU CONTACT US ABOUT THIS POLICY?</a></b></li>
		</ol>

		<div>
			<h2 id="what-do-we-collect">1. WHAT INFORMATION DO WE COLLECT?</h2>
			<h3>Personal information you disclose to us</h3>
			<h4>In Short: We collect personal information that you provide to us such as name, address, contact information, passwords and security data, and payment information.</h4>
			<p>We collect personal information that you voluntarily provide to us when registering at the Services or Apps, expressing an interest in obtaining information about us or our products and services, when participating in activities on the Services or Apps or otherwise contacting us.</p>
			<p id="info-collected">The personal information that we collect depends on the context of your interactions with us and the Services or Apps, the choices you make and the products and features you use. The personal information we collect can include the following:</p>
			<ul aria-describedby="info-collected">
				<li>Personal Information Provided by You. We collect data about health, DNA, medical records, FitBit, and similar apps; app usage; and other similar data.</li>
				<li>Credentials. We collect passwords, password hints, and similar security information used for authentication and account access.</li>
				<li>Online Identifiers. We collect cookie identifiers, or others such as the ones used for analytics and marketing; and other similar data.</li>
			</ul>
		</div>

		<div>
			<h2 id="how-do-we-use-your-info">2. HOW DO WE USE YOUR INFORMATION?</h2>
			<h4>In Short:  We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</h4>
			<p>We use personal information collected via our Services or Apps for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.</p>
			<div id="info-use">We use the information we collect or receive:</div>
			<ul aria-describedby="info-use">
				<li>To facilitate account creation and logon process. If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.</li>
				<li>To send administrative information to you. We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</li>
				<li>Request Feedback. We may use your information to request feedback and to contact you about your use of our Services or Apps.</li>
				<li>To manage user accounts. We may use your information for the purposes of managing our account and keeping it in working order.</li>
				<li>For other Business Purposes. We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Services or Apps, products, marketing and your experience. We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.</li>
			</ul>
		</div>

		<div>
			<h2 id="will-we-share-your-data">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h2>
			<h4>In Short:  We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</h4>
			<p id="process-rights">We may process or share data based on the following legal basis:</p>
			<ul aria-describedby="process-rights">
				<li>Consent: We may process your data if you have given us specific consent to use your personal information in a specific purpose.</li>
				<li>Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</li>
				<li>Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</li>
				<li>Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
			</ul>
		</div>

		<div>
			<h2 id="do-we-use-cookies">4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>
			<h4>In Short:  We may use cookies and other tracking technologies to collect and store your information.</h4>
			<p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>
		</div>

		<div>
			<h2 id="how-long-do-we-keep-info">5. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
			<h4>In Short:  We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</h4>
			<p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than 2 years past the termination of the user's account.</p>
			<p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
		</div>

		<div>
			<h2 id="how-do-we-protect-info">6. HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
			<h4>In Short:  We aim to protect your personal information through a system of organizational and technical security measures.</h4>
			<p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Services or Apps is at your own risk. You should only access the services within a secure environment.</p>
		</div>

		<div>
			<h2 id="do-we-collect-info-from-minors">7. DO WE COLLECT INFORMATION FROM MINORS?</h2>
			<h4>In Short:  We do not knowingly collect data from or market to children under 18 years of age.</h4>
			<p>We do not knowingly solicit data from or market to children under 18 years of age. By using the Services or Apps, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services or Apps. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at <a class="link" href="mailto:support@bedpost.me">support@bedpost.me</a>.</p>
		</div>

		<div>
			<h2 id="what-are-your-rights">8. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
			<h4>In Short:  You may review, change, or terminate your account at any time.</h4>
			<p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a class="link" target="_blank" href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</p>
			<p>If you have questions or comments about your privacy rights, you may email us at <a class="link" href="mailto:support@bedpost.me">support@bedpost.me</a>.</p>
			<h3>Account Information</h3>
			<p>If you would at any time like to review or change the information in your account or terminate your account, you can log into your account settings and update your user account.</p>
			<p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>
			<h3>Cookies and similar technologies</h3>
			<p>Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services or Apps.</p>
			<h3>Opting out of email marketing</h3>
			<p>You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may contact us using the contact information provided.</p>
		</div>

		<div>
			<h2 id="data-breach">9. DATA BREACH</h2>
			<p>A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of personal information. You will be notified about data breaches when BedPost App believes you are likely to be at risk or serious harm. For example, a data breach may be likely to result in serious financial harm or harm to your mental or physical well-being. In the event that BedPost App becomes aware of a security breach which has resulted or may result in unauthorized access, use or disclosure of personal information BedPost App will promptly investigate the matter and notify the applicable Supervisory Authority not later than 72 hours after having become aware of it, unless the personal data breach is unlikely to result in a risk to the rights and freedoms of natural persons.</p>
		</div>

		<div>
			<h2 id="controls-for-do-not-track">10. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
			<p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy policy.</p>
		</div>

		<div>
			<h2 id="california-residents">11. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h2>
			<h4>In Short:  Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</h4>
			<p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p>
			<p>If you are under 18 years of age, reside in California, and have a registered account with the Services or Apps, you have the right to request removal of unwanted data that you publicly post on the Services or Apps. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Services or Apps, but please be aware that the data may not be completely or comprehensively removed from our systems.</p>
		</div>

		<div>
			<h2 id=>12. DO WE MAKE UPDATES TO THIS POLICY?</h2>
			<h4>In Short:  Yes, we will update this policy as necessary to stay compliant with relevant laws.</h4>
			<p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>
		</div>

		<div>
			<h2 id="how-to-contact-us">13. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h2>
			<p>If you have questions or comments about this policy, you may email us at <a class="link" href="mailto:support@bedpost.me">support@bedpost.me</a>.</p>

		<h3>How can you review, update, or delete the data we collect from you?</h3>
		<p>Based on the laws of some countries, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please submit a request to <a class="link" href="mailto:support@bedpost.me">support@bedpost.me</a>. We will respond to your request within 30 days.</p>
	</div>
<% end %>
