.footer {
	padding-inline-start: 0rem;
	padding: $spacing-small;
	list-style-type: none;
	text-align: center;

	&__item {
		display: inline-block;
		line-height: 1.5;
		margin-bottom: $spacing-small;

		&--has-line-after {
			box-sizing: padding-box;
			padding-right: $spacing-small + rem(1px);
			margin-right: $spacing-small;
			border-right: 1px solid;
			@include themed(border-color, "text");
		}

		&--has-break-before {
			display: initial;

			&::before {
				content: "\A";
				white-space: pre;
			}
		}
	}

	&__link {
		font-weight: bold;

		.footer--is-at-bottom  & {
			@include themed(color, "link");

			&:hover, &:focus {
				@include themed(color, "link-light");
			}
		}

		.footer--is-in-nav & {
			@include themed-inverse(color, "h1");
			body.has-form.is-light-contrast & {
				color: theme-light("h1");
			}

			&:hover, &:focus {
				@include themed-inverse(color, "link");
				body.has-form.is-light-contrast & {
					color: theme-light("link");
				}
			}
		}
	}

	&__divider {
		margin: 0rem $spacing-small;
	}
}
