.footer {
	padding-inline-start: 0rem;
	padding: $spacing-small;
	list-style-type: none;
	text-align: center;

	&__item {
		display: inline-block;
	}

	&__link {
		font-weight: bold;

		.footer--is-at-bottom  & {
			@include themed(color, "link");

			&:hover, &:focus {
				@include themed(color, "link-light");
			}
		}

		.footer--is-in-nav & {
			@include themed-inverse(color, "h1");
			body.has-form.is-light-contrast & {
				color: theme-light("h1");
			}

			&:hover, &:focus {
				@include themed-inverse(color, "link");
				body.has-form.is-light-contrast & {
					color: theme-light("link");
				}
			}
		}
	}

	&__divider {
		margin: 0rem $spacing-small;
	}
}
