.main-nav {
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 100;

	&__burger {
		cursor: pointer;
		min-width: unset;
		background-color: transparent;
		bottom: $spacing-small;
		left: $spacing-default;
		border-radius: rem(5px);
		position: relative;
		z-index: 2;
		padding: 0rem;
		border: none;
		@include themed(border-color, "background-contrast");
		body.has-form.is-light & {
			border-color: theme-light-contrast('background-contrast');
		}

		&:hover, &:focus, &--open {
			@include themed(border-color, "background");
			@include themed(background-color, "background-contrast");

			body.has-form.is-light & {
				background-color: theme-light-contrast('background-contrast');
				border-color: theme-light-contrast("background");
			}
		}

		&__line {
			border: rem(3px) solid;
			border-color: inherit;
			width: $nav-button-width;
			margin: $spacing-tiny $spacing-tiny;
			border-radius: $default-border-radius;
			height: 0rem;
		}

		.no-js & {
			display: none;
		}
	}

	&__menu {
		overflow: hidden;
		position: absolute;
		margin: 0rem;
		z-index: 1;
		height: 100vh;
		box-sizing: border-box;
		display: none;
		top: 0;
		padding-top: calc(100% + #{$spacing-tiny});
	}

	&__menu-inner {
		width: $nav-width;
		border-right: 1px solid;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		@include themed(background-color, "background-contrast");
		@include themed(color, "background");

		body.has-form.is-light & {
			background-color: theme-light-contrast('background-contrast');
			color: theme-light-contrast("background");
		}
	}

	&__list {
		padding-inline-start: 0rem;
		margin: 0rem;
		flex-grow: 1;
	}

	&__list-item {
		list-style: none;
		font-size: rem(22px);
		line-height: rem(22px);
		overflow: hidden;
		white-space: nowrap;

		&--user-name {
			@include themed-contrast(color, "h1");
			color: $color-off-white;
			font-weight: bold;
			padding: $spacing-default $spacing-tiny $spacing-default $spacing-default;
		}

		&__link {
			text-decoration: none;
			display: block;
			height: 100%;
			padding: 0.75rem $spacing-tiny 0.75rem $spacing-medium;
			width: 100%;
			text-align: left;
			background-color: transparent;
			border: none;

			@include themed(color, "background");

			body.has-form.is-light & {
				color: theme-light-contrast("background");
			}

			&--selected {
				@include themed(background-color, 'cta-bg');
				@include themed(color, "cta-text");

				body.has-form.is-light & {
					color: theme-light-contrast("cta-text");
				}
			}

			&--not-selected:not(:disabled) {
				&:hover, &:focus {
					@include themed(color, "cta-text");
					@include themed(background-color, "cta-bg", 0.75);
				}
			}
		}
	}

	.no-js & {
		@include media(('>tablet')) {
			position: fixed;
		}

		@include media(('<=tablet')) {
			&__menu {
				display: block;
				padding-top: 0rem;
				position: static;
				height: auto;

				&-inner {
					width: 100%;
				}
			}
		}
	}
}
