@import "_defaults";

nav {
	position: relative;
	left: 0rem;
	top: 0rem;
	z-index: 100;
	float: left;

	.burger {
		min-width: unset;
		border: rem(2px) solid;
		@include color-and-secondary(border-color, $button-colors);
		margin: rem(10px);
		width: rem(35px);
		border-radius: rem(5px);
		position: relative;
		z-index: 2;
		padding: 0rem;
		box-sizing: content-box;
		@include color-and-secondary(box-shadow, none none);

		.burger-line {
			@include color-and-secondary(background-color, $button-colors);
			height: rem(3px);
			margin: rem(6.5px) rem(5px);
		}

		.no-js & {
			display: none;
		}

		&.open, &:hover, &:focus {
			@include color-and-secondary(background-color, $button-colors);
			@include color-and-secondary(border-color, $button-colors);

			.burger-line {
				@include color-and-secondary(background-color, $background-colors);
			}
		}
	}

	.menu {
		overflow: hidden;
		position: absolute;
		padding-top: rem(57px);
		top: 0rem;

		margin: 0rem;
		z-index: 1;
		height: 100vh;
		box-sizing: border-box;
		display: none;

		.no-js & {
			position: static;
			display: block;
		}
	}

	ul {
		padding-inline-start: 0rem;
		margin: 0rem;
		width: $nav-width;
		@include color-and-secondary(background-color, $button-colors);
		border-right: 1px solid;
		@include color-and-secondary(border-color, $background-colors);
		height: 100%;
		box-sizing: border-box;
	}

	li {
		list-style: none;
		font-size: rem(26px);
		line-height: rem(26px);
		overflow: hidden;
		white-space: nowrap;

		&.no-link {
			color: $color-off-white;
			font-weight: bold;
			padding: rem(15px) rem(10px) rem(10px);
		}

		form>input[type=submit].not-button {
			background-color: transparent;
			width: 100%;
			text-align: inherit;
		}

		a, span, form>input[type=submit].not-button {
			text-decoration: none;
			@include color-and-secondary(color, $background-colors);
			display: block;
			height: 100%;
			padding: rem(15px) rem(5px) rem(15px) rem(15px);
		}

		a, form>input[type=submit].not-button {
			box-shadow: none;
			&:hover, &:focus {
				@include color-and-secondary(background-color, rgba($colors2-button-primary, 0.5) rgba($colors1-button-primary, 0.5));
				@include color-and-secondary(color, $background-colors);
			}
		}

		span {
			@include color-and-secondary(background-color, $colors2-button-secondary $colors1-button-primary);
		}
	}
}
