.main-nav {
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 100;

	&__burger {
		cursor: pointer;
		min-width: unset;
		background-color: transparent;
		bottom: $spacing-small;
		left: $spacing-default;
		border-radius: rem(5px);
		position: relative;
		z-index: 2;
		padding: 0rem;
		border: none;
		@include themed(border-color, "background-contrast");
		@include themed-with-cards(border-color, "background");

		&:hover, &:focus, &--open {
			@include themed(border-color, "background");
			@include themed(background-color, "background-contrast");
			@include themed-with-cards(border-color, "background-contrast");
			@include themed-with-cards(background-color, "background");
		}

		&__line {
			border: rem(2.75px) solid;
			border-color: inherit;
			width: $nav-button-width;
			margin: $spacing-tiny $spacing-tiny;
			border-radius: $default-border-radius;
		}

		.no-js & {
			display: none;
		}
	}

	&__menu {
		overflow: hidden;
		position: absolute;
		margin: 0rem;
		z-index: 1;
		height: 100vh;
		box-sizing: border-box;
		display: none;
		top: 0;
		padding-top: calc(100% + #{$spacing-tiny});
	}

	&__menu-inner {
		width: $nav-width;
		border-right: 1px solid;
		height: 100%;
		box-sizing: border-box;
		@include themed(background-color, "background-contrast");
		@include themed(color, "background");
		@include themed-with-cards(background-color, "background");
		@include themed-with-cards(color, "background-contrast");
		display: flex;
		flex-direction: column;
	}

	&__list {
		padding-inline-start: 0rem;
		margin: 0rem;
		flex-grow: 1;
	}

	&__list-item {
		list-style: none;
		font-size: rem(22px);
		line-height: rem(22px);
		overflow: hidden;
		white-space: nowrap;

		&--user-name {
			color: $color-off-white;
			font-weight: bold;
			padding: $spacing-default $spacing-tiny $spacing-default $spacing-default;
		}

		&__link {
			text-decoration: none;
			display: block;
			height: 100%;
			padding: 0.75rem $spacing-tiny 0.75rem $spacing-medium;
			width: 100%;
			text-align: left;
			@include themed(color, "background");
			@include themed-with-cards(color, "cta-bg");

			&--selected {
				background-color: theme-dark("cta-bg");
				color: theme-dark("cta-text");
			}

			&--not-selected:not(:disabled) {
				&:hover, &:focus {
					color: theme-dark("cta-text");
					background-color: rgba(theme-dark("cta-bg"), 0.5);
				}
			}
		}
	}

	body.is-dark & {
		&__burger {
			box-shadow: none;
		}

		&__list-item {
			&__link {
				&--selected {
					background-color: theme-light("cta-bg");
					color: theme-light("cta-text");
				}

				&--not-selected:not(:disabled) {
					&:hover, &:focus {
						color: theme-light("cta-text");
						background-color: rgba(theme-light("cta-bg"), 0.5);
					}
				}
			}
		}
	}

	body.is-light.has-cards & {
		&__list-item {
			&--user-name {
				color: theme-light('h1');
			}
		}
	}

	.no-js & {
		@include media(('>tablet')) {
			position: fixed;
		}

		@include media(('<=tablet')) {
			&__menu {
				display: block;
				padding-top: 0rem;
				position: static;
				height: auto;

				&-inner {
					width: 100%;
				}
			}
		}
	}
}
