.contact-field-container {

	&.incomplete {
		// TODO style these
		.contact-error {}
	}

	.contact-field {
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		.field-section {
			float: left;
			margin-right: rem(5px);

			p {
				line-height: 1rem;
				margin: 0.15rem 0 0 0;
				font-size: inherit;
			}

			.input label {
				line-height: 1.25;
			}
		}
	}

	&.blurred {
		.contact-field {
			flex-wrap: wrap;
			color: $color-purple-dark;
			justify-content: flex-start;

			p {
				margin-top: 0;
				line-height: rem(20px);
			}
		}

		input[type=radio], input[type=checkbox] {
			&:checked + label {
				font-size: 1rem;
				font-weight: normal;
			}

			&:not(:checked) + label {
				display: none;
			}
		}

		.contact-barriers > div {
			font-size: 0.85rem;
			display: flex;
			flex-wrap: wrap;

			input[type=checkbox] {
				border: none;
				margin: 0;

				&:checked {
					background-color: transparent;
					height: rem(6px);
					width: rem(6px);

					&::after {
						background-color: $color-purple-dark;
						height: 100%;
						width: 100%;
						transform: none;
						border-radius: 50%;
						border: none;
						top: 0rem;
						left: 0rem;
					}

					+ label {
						margin-right: rem(10px);
					}
				}

				&:not(:checked) {
					height: 0rem;
					width: 0rem;
					display: inline;

					&::after {
						display: none;
					}
				}
			}
		}
	}

	.contact-barriers {
		display: flex;

		> div {
			float: left;
			margin-right: rem(5px);

			label {
				display: inline;
			}

			input[type=checkbox] {
				margin-right: 0rem;
			}
		}
	}
}

.encounter-show-container {
	position: relative;
	> span.dropdown-button {
		position: absolute;
		right: rem(8px);
		top: rem(8px);

		button.arrow-button {
			$size: 30px;
			height: rem($size);
			width: rem($size);
			line-height: rem($size * 0.8);
		}
	}

	>.dropdown-content {
		padding: 0rem rem(10px);
	}
}

.contacts-show {
	padding-inline-start: 0rem;

	.contact-show {
		clear: both;
		margin-bottom: rem(5px);

		>.dropdown {
			transition: all 0.3s ease-in-out;
			border-bottom: rem(1px) solid $color-green-dark;

			&:after {
				clear: both;
				display: block;
				content: "";
			}

			&.open {
				padding: rem(5px);

				.dropdown-title {
					font-size: 1.2rem;
					margin-bottom: 0.5rem;
				}
			}
		}

		.dropdown-title {
			float: left;
			width: 75%;
		}
		.dropdown-button {
			float: right;
			width: 20%;
			text-align: right;
		}

		.dropdown-content {
			clear: both;
		}
	}
}

.risks-show {
	clear: both;
	padding-inline-start: 0rem;
	list-style-type: none;

	li {
		@extend .clear-fix;
		padding: rem(5px) rem(10px);
		font-size: 1.1rem;

		&:first-child {
			border-top-right-radius: rem(5px);
			border-top-left-radius: rem(5px);
		}

		&:last-child {
			border-bottom-right-radius: rem(5px);
			border-bottom-left-radius: rem(5px);
		}
		@for $i from 1 through 5 {
			&.risk-#{$i - 1} {
				background-color: nth($gradient-greens, $i);
				@if $i < 4 {
					color: black;
				}
				@else {
					color: white;
				}
			}
		}

		.risk-level {
			font-weight: bold;
			font-size: 1.15rem;
			float: left;
			width: 30%;
		}

		.diagnoses {
			float: right;
			width: 70%;
			text-align: right;
		}
	}
}

.schedule-show {
	padding-inline-start: 0rem;
	list-style-type: none;

	li {
		@extend .clear-fix;
		display: flex;
		align-items: center;

		.schedule-date {
			border: rem(2px) solid $color-dark-gray;
			margin-bottom: rem(10px);
			text-align: center;
			width: 3.5rem;
			height: 3.5rem;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			background-color: $background-color;
			flex-shrink: 0;

			.month-year {
				background-color: $color-dark-gray;
				font-size: 1.15rem;
			}

			.day {
				color: $color-black;
				font-weight: bold;
				font-size: 1.5rem;
				flex-grow: 1;
				display: flex;
				align-items: center;

				span {
					display: inline-block;
					margin: 0rem auto;
				}
			}
		}

		.schedule-diagnoses {
			flex-grow: 1;
			margin-left: rem(20px);
			font-size: 1.5rem;
		}
	}
}

#page-container #page-container-inner #encounter-calendar {
	.popover-day-title {
		text-align: center;
		font-size: 1.15rem;
	}

	.encounter-partner-name {
		margin-right: rem(5px);
	}

	.vc-bars {
		box-shadow: rem(1px) 0rem rem(2px) 0rem rgba(255,255,255,.1), 0rem rem(1px) rem(5px) 0rem rgba(255,255,255,.1);
	}

	.encounter-contact-toggle {
		margin-left: rem(10px);
		margin-bottom: rem(10px);
	}

	.partner-indicator {
		display: inline-block;
		height: 1.15rem;
		width: 2rem;
		vertical-align: middle;
		margin-right: rem(8px);
		margin-bottom: 0.175rem;
	}

	.encounter-list-item {
		.item-partner {
			font-weight: bold;
		}

		.item-date {
			font-size: 1rem;
		}
	}

	input[readonly=readonly] {
		display: none;
	}

	.vs--unsearchable .vs__dropdown-toggle {
		cursor: initial;
	}

	.vs__search, .vs__search:focus {
		border-left: 1px solid $input-border-color-focus;
	}
}
