.faq {
	&__nav {
		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&-section {
			font-size: 1rem;
			font-weight: bold;
		}

		&-arrow {
			height: 1.25rem;
		}

		&-question {
			line-height: 1.25;
			margin-bottom: $spacing-small;
		}

		.dropdown-content {
			flex-basis: 100%;
		}
	}

	&__question {
		a {
			@include link($colors-flesh);
			font-weight: bold;
		}
	}
}
