.cta--tourguide {
	position: absolute;
	min-width: unset;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 0;
	right: $spacing-double + $nav-button-width;
	top: $spacing-small;
	font-size: 1.5rem;
}

.v-tour {
	.v-step {
		@include themed-inverse($map-key: "background");
		@include themed-inverse(border-color, "background");
		@include themed-inverse(color, "text");

		&__cta {
			margin: 0 $spacing-small;
		}
	}
}

.v-step__arrow {
	@include tooltip-arrow('.v-tour .v-step');
}


.first-time {
	max-width: $constrained-width;
	margin: 0px auto;
}
