.not-button {
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	padding: 0rem;
	background-color: transparent;
	font-weight: 400;
	text-transform: none;
	border-radius: 0rem;
	min-width: unset;
	box-shadow: none;

	&:hover, &:focus {
		background-color: transparent;
		border: none;
	}
}

// button.as-link {
// 	text-decoration: underline;
// }

a.as-button {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	justify-content: center
}
