.cta,
input[type="submit"] {
	@include cta;

	body.secondary & {
		@include cta($colors-dark);
	}

	form.centered & {
		margin-top: rem(10px);
	}

	&--is-secondary {
		@include cta($suffix: "-light");
	}

	form.big &, form.centered & {
		margin-left: auto;
		margin-right: auto;
	}
}