.cta {
	@include cta;

	@mixin themed-cta($theme-colors) {
		@include cta-colors($theme-colors);
		@include cta-text-colors($theme-colors, $property: stroke);

		&--is-secondary {
			@include cta-colors($theme-colors, $suffix: "-light");
		}

		&--is-inverted {
			@include cta-text-colors($theme-colors, $property: background-color);
			@include cta-background-colors($theme-colors, $property: color);
			@include cta-background-colors($theme-colors, $property: stroke);
		}
	}

	@each $theme, $theme-colors in $themes {
		body.is-#{$theme} &, body:not(.is-#{$theme}) &.cta--is-#{$theme}-theme {
			@include themed-cta($theme-colors);
		}

		body.is-#{$theme} .container--has-contrast-background & {
			@include themed-cta(map-get($themes-contrast, $theme));
		}
	}

	&--is-inverted {
		@include cta-transition;
	}

	&--is-transparent {
		background-color: transparent;
		box-shadow: none;
		border-style: none;
	}

	&--is-floating-right {
		float: right;
	}

	&--is-compact {
		padding: $spacing-tiny $spacing-small;
		min-width: unset;
	}

	&--is-square {
		padding: 50% 0%;
		height: 0;
		line-height: 1;
		text-align: center;
		border-radius: $default-border-radius;

		&__heading {
			display: block;
			font-size: 2rem;
			text-transform: capitalize;
			padding: 0 0.35rem;

			@include media ("<tablet") {
				font-size: 1.5rem;
			}
		}

		&__main {
			font-size: 1.15rem;
			padding: 0 $spacing-small;
			font-weight: 700;

			@include media ("<tablet") {
				font-size: 1rem;
			}
		}
	}

	&--is-round, &--is-back-btn {
		margin: 0 $spacing-default;
		font-size: 0.75rem;
		min-width: unset;
		border-radius: 50%;
		padding: 0;
		height: 2.75rem;
		width: 2.75rem;
	}

	&--is-back-btn {
		float: left;

		@include themed-styles using($theme, $theme-colors) {
			@include cta-colors($theme-colors, $suffix: "-light");
		}
	}

	&--is-add-btn {
		min-width: unset;
		border-radius: 50%;
		padding: 0;
		height: 2.75rem;
		width: 2.75rem;
		background-repeat: no-repeat;
		background-size: 75%;
		background-position: center center;
		background-clip: border-box;
		-moz-background-clip: border-box;
		-webkit-background-clip: border-box;
		flex-shrink: 0;
		align-self: center;
		transform: rotate(45deg);
		@include centered;

		@include themed-styles using ($theme, $theme-colors) {
			$fill: map-get($theme-colors, "cta-text");
			@include background-svg(check-box-check($fill-color: $fill, $stroke-width: 0.6));

			@include hover-and-focus {
				$fill: map-get($theme-colors, "cta-bg");
				@include background-svg(check-box-check($fill-color: $fill, $stroke-width: 0.6));
			}
		}

		&--is-small {
			height: 2rem;
			width: 2rem;
		}

	}

	&__text {
		@include themed-styles using ($theme, $theme-colors) {
			color: inherit;
		}
	}

	&:disabled {
		@include disabled;
	}

	svg {
		stroke: inherit;
	}


	form.centered & {
		margin-top: rem(10px);
	}

	form.big &, form.centered & {
		margin-left: auto;
		margin-right: auto;
	}

	&--is-arrow {
		text-decoration: none;
		font-weight: bold;
		vertical-align: middle;
		border-radius: 50%;
		height: rem(40px);
		width: auto;
		padding: 0rem;
		display: inline-flex;
		justify-content: center;
		align-content: center;

		&--is-small {
			height: 1.75rem;
		}

		&--is-medium {
			height: 2rem;
		}

		svg {
			height: 100%;
			vertical-align: middle;
			fill: transparent;
			stroke-width: 15;
			stroke-linecap: round;
			transform-origin: center;
			transition: transform 0.5s ease-in-out;
		}
	}
}

.dropdown.title-as-button > .dropdown-title {
	cursor: pointer;
}

.toggle-switch {
	display: inline-flex;

	&__btn {
		border-radius: 0;
		border: 3px solid;
		background-color: transparent;

		@include themed-styles using ($theme, $theme-colors) {
			@include cta-background-colors($theme-colors, $property: border-color);
			@include cta-background-colors($theme-colors, $property: color);

			&[aria-pressed=true], &:not(:disabled):hover, &:not(:disabled):focus {
				background-color: map-get($theme-colors, 'cta-bg');
				border-color: map-get($theme-colors, 'cta-bg');
				color: map-get($theme-colors, 'cta-text');
			}
		}

		&:first-child {
			border-top-left-radius: $default-border-radius;
			border-bottom-left-radius: $default-border-radius;
		}

		&:last-child {
			border-top-right-radius: $default-border-radius;
			border-bottom-right-radius: $default-border-radius;
		}
	}
}

button.vs__deselect {
	stroke: $jakarta-skyline;
	height: 1.5rem;

	&:hover, &:focus {
		background-color: transparent;
		stroke: theme-light("cta-bg");
	}
}

.button-list {
	width: 100%;
	max-width: $constrained-width;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: start;
	justify-content: space-around;
	margin-inline-start: 0;
	margin-block-start: 0;
	padding-inline-start: 0;
	list-style-type: none;
	@include centered;

	&__item {
		flex-grow: 0;
		flex-basis: 50%;
		flex-shrink: 0;
		padding: $spacing-default;
		text-align: center;
		width: 0;
	}
}
