@import "_defaults";

a, button.not-button, input[type=submit].not-button, button.as-link {
	color: $link-color;
	cursor: pointer;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	&:hover, &:focus {
		color: $link-hover-color;
	}
}

button.not-button, button.as-link, input[type=submit].not-button {
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	padding: 0rem;
	background-color: transparent;

	&:hover, &:focus {
		background-color: transparent;
		border: none;
	}
}

button.as-link {
	text-decoration: underline;
}

button, input[type=submit], a.as-button {
	background-color: $button-color;
	border-color: $button-color;
	color: $button-text-color;
	padding: rem(5px) rem(10px);
	transition: 0.1s linear all;
	cursor: pointer;
	border-style: solid;

	form.centered & {
		margin-top: rem(10px);
	}
}

button, input[type=submit], a.as-button {
	&:hover, &:focus {
		background-color: $button-hover-color;
		border-color: $button-hover-color;
	}
}

button.inverse, button.transparent {
	color: $button-color;
}

button.inverse {
	background-color: $button-text-color;
}

button.transparent {
	background-color: transparent;
	border: none;

	&:hover, &:focus {
		background-color: transparent;
	}
}

button.arrow-button {
	text-decoration: none;
	font-size: rem(32px);
	font-weight: bold;
	line-height: rem(32px);
	vertical-align: middle;
	border-radius: 50%;
	height: rem(40px);
	width: rem(40px);

	&:not(.not-button):not(.as-link) {
		padding: 0rem;
	}

	&:disabled {
		opacity: 0.5;
		cursor: initial;
	}

	svg {
		height: 75%;
		vertical-align: middle;
		fill: transparent;
		stroke: $button-text-color;
		stroke-width: 15;
	}

	&:not(:disabled):hover svg {
		stroke: $button-hover-color;
	}

	&.not-button {
		svg {
			stroke: $link-color;
		}

		&:not(:disabled):hover svg {
			stroke: $link-hover-color;
		}
	}

	&.inverse, &.transparent {
		svg {
			stroke: $button-color;
		}

		&:not(:disabled):hover svg {
			stroke: $button-text-color;
		}
	}

	&.primary {
		background-color: transparent;
		border-color: transparent;
	}
}

a.as-button {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	justify-content: center
}

.dropdown.title-as-button > .dropdown-title {
	cursor: pointer;
}
