label {
	padding-left: 0.75rem;

	+ input,
	+ select,
	+ textarea {
		margin-top: $spacing-small;
	}
}

$constrained-form-width: 26rem;
form.centered {
	max-width: $constrained-form-width;
	width: 100%;
	padding: 0rem rem(15px);
	margin: 0rem auto;

	h2, p.description, div.errors {
		text-align: center;
	}

	h2.with-desc {
		margin-bottom: 0.25rem;
	}

	p.description {
		margin-top: 0;
	}

	label {
		display: block;
		line-height: 1;
	}

	.additional {
		text-align: right;

		p {
			margin: 0;
		}
	}

	.buttons {
		text-align: center;
	}
}

form.single {
	&.centered {
		text-align: center;

		input {
			text-align: center;
		}
	}

	.tooltip {
		font-size: rem(18px);
	}
}

form {
	div.field-errors {
		text-align: right;
		color: $colors1-h1;
		font-weight: bold;
		font-size: rem(12px);
		line-height: 1;

		body.dark &, body.dark.with-cards .card & {
			color: $colors2-h1;
		}
	}

	div.errors {
		color: $colors1-h1;
	}

	div.range-indicator {
		margin-bottom: rem(10px);

		&:after {
			content: "";
			clear: both;
			display: block;
		}

		.indicator {
			box-sizing: border-box;
			text-align: center;
			float: left;
			width: 33.333%;

			&:last-child {
				text-align: right;
			}

			&:first-child {
				text-align: left;
			}
		}
	}

	.tooltip {
		color: $colors1-button-primary;
		font-size: rem(14px);
		line-height: 1.25;
		margin: rem(3px) auto;
	}

	.slide-bar-desc {
		font-size: rem(14px);
		clear: both;
	}
}

.field {
	display: block;
	margin: rem(10px) 0 rem(25px) 0;

	&.hidden-field {
		margin: 0;
	}

	> .toggle {
		display: inline;
		font-size: rem(30px);
		font-weight: bold;
		color: $color-purple-dark;
		vertical-align: middle;
		line-height: 1rem;
		margin-right: rem(5px);

		&:hover, &:focus {
			color: $color-purple-light;
		}
	}

	&.toggler {
		div[role=radiogroup] > div {
			display: flex;
			justify-content: space-between;

			.group-radios {
				flex-shrink: 0;
			}
		}

		.field.inline {
			margin: 0rem;
		}
	}

	&.inline {
		display: inline-block;

		label, input {
			display: inline;
			margin-right: rem(10px);
		}

		.tooltip {
			float: right;

			.tooltip-icon {
				top: rem(-5px);
			}
		}
	}
}

.flickity-enabled {
	&:focus ~ .stepper__nav .stepper__nav__button-item>* {
		border: rem(2px) solid;
		@include color-and-secondary(border-color, $button-colors);
	}

	.field {
		margin-bottom: 0rem;
	}
}

.stepper {
	position: relative;

	.flickity-viewport {
		overflow: hidden auto;
	}

	&__h2 {
		margin-top: 0
	}

	&__outer {
		position: relative;
	}

	&__step {
		width: 100%;
		box-sizing: border-box;

		&:not(.is-selected) {
			visibility: hidden;
			max-height: 100%;
			overflow: hidden;
		}
	}
}

.stepper__nav {
	text-align: center;
	width: 100%;
	z-index: 1;

	$dot-size: 0.5rem;
	&__dots {
		height: $dot-size;
		line-height: 0;
		width: 100%;
	}

	&__dot {
		display: inline-block;
		margin: 0rem $dot-size;
		width: $dot-size;
		height: $dot-size;
		border-radius: 50%;
		@include color-and-secondary(background-color, rgba($colors1-button-secondary, 0.5) rgba($colors2-button-secondary, 0.5));

		&--current {
			@include color-and-secondary(background-color, $button-colors);
		}
	}

	&__button-list {
		list-style: none;
		padding-inline-start: 0;
		margin: 0rem;
	}

	&__button-item {
		display: inline-block;

		&--next {
			float: right;
		}

		&--prev {
			float: left;
		}

		&--last, input[type=submit] {
			float: right;
			line-height: rem(32px);
			vertical-align: middle;
			font-weight: bold;
			display: inline;
			width: auto;
			font-size: 1.75rem;
		}

		button {
			border: 2px solid transparent;
		}

		@media (min-width: $constrained-form-width + 3rem) {
			position: absolute;

			$button-offset: -20%;

			&--next {
				right: $button-offset;
				top: 10rem;
			}

			&--prev {
				left: $button-offset;
				top: 10rem;
			}

			&--last, input[type=submit] {
				right: $button-offset;
				bottom: 0rem;
			}
		}
	}
}

.dynamic-field {
	padding: rem(5px);

	.dynamic-field-buttons {
		float: right;
		margin-top: rem(-10px);

		+ div {
			clear: both;
		}
	}
}

.no-js {
	toggle {
		color: $color-purple-dark;
	}
}
