@import "_defaults";

label {
	padding-left: 0.75rem;
	font-weight: bold;
}

form.centered {
	max-width: 400px;
	padding: 0px 15px;
	margin: 0px auto;

	h2, p.description, div.errors {
		text-align: center;
	}

	label {
		display: block;
		line-height: 1;
	}

	.additional {
		text-align: right;

		p {
			margin: 0;
		}
	}

	.buttons {
		text-align: center;
	}
}

form.single {
	&.centered {
		text-align: center;

		input {
			text-align: center;
		}
	}

	label {
		// font-size: 20px;
	}

	.tooltip {
		font-size: 18px;
	}
}

form {
	div.field-errors {
		text-align: right;
		color: $colors1-h1;
		font-weight: bold;
		line-height: 1;

		body.secondary &, body.secondary.with-cards .card & {
			color: $colors2-h1;
		}
	}

	div.errors {
		color: $colors1-h1;
	}

	div.range-indicator {
		margin-bottom: 10px;

		&:after {
			content: "";
			clear: both;
			display: block;
		}

		.indicator {
			box-sizing: border-box;
			text-align: center;
			float: left;
			width: 33.333%;

			&:last-child {
				text-align: right;
			}

			&:first-child {
				text-align: left;
			}
		}
	}

	.tooltip {
		color: $colors1-button-primary;
		font-size: 14px;
		line-height: 1.25;
		margin: 3px auto;
	}

	.step {
		background-color: $colors2-background;
		border-radius: 5px;
		// padding: 15px;
		margin-bottom: 25px;
	}


	.slide-bar-desc {
		font-size: 14px;
		clear: both;
	}
}

.field {
	display: block;
	margin: 10px 0px 25px;

	&.hidden-field {
		margin: 0;
	}

	> .toggle {
		display: inline;
		font-size: 30px;
		font-weight: bold;
		color: $color-purple-dark;
		vertical-align: middle;
		line-height: 16px;
		margin-right: 5px;

		&:hover, &:focus {
			color: $color-purple-light;
		}
	}

	&.toggler {
		div[role=radiogroup] > div {
			display: flex;
			justify-content: space-between;

			.group-radios {
				flex-shrink: 0;
			}
		}

		.field.inline {
			margin: 0px;
		}
	}

	&.inline {
		display: inline-block;

		label, input {
			display: inline;
			margin-right: 10px;
		}

		.tooltip {
			float: right;

			.tooltip-icon {
				top: -5px;
			}
		}
	}
}

.flickity-enabled {
	&:focus ~ .step-nav>.prog-buttons>li>button {
		border: 2px solid $color-green-light;
	}

	.field {
		margin-bottom: 0px;

		.additional {
			height: 80px;

			.explanation {
				max-height: 40px;
				overflow-y: auto;
			}
		}
	}
}

.stepper {
	position: relative;

	.step-inner {
		padding: 15px;
		border-radius: inherit;
	}

	.flickity-viewport {
		padding-bottom: 60px;
	}

	.form-step {
		width: 100%;
		padding: 5px;
		box-sizing: border-box;

		&:not(.is-selected) {
			visibility: hidden;
		}
	}

	.step-nav {
		// margin-top: 25px;
		// margin-bottom: 10px;
		text-align: center;
		position: relative;
		// bottom: 5px;
		left: 0px;
		width: 100%;
		z-index: 1;
		height: 0px;

		$dot-size: 8px;
		.prog-dots {
			height: $dot-size;
			line-height: 0;
			position: absolute;
			width: 100%;
			bottom: 15px;
		}

		.prog-dot {
			display: inline-block;
			margin: 0px $dot-size;
			width: $dot-size;
			height: $dot-size;
			border-radius: 50%;
			background-color: rgba($color-green-light, 0.5);

			&.current {
				background-color: $color-green-dark;
			}
		}

		.prog-buttons {
			list-style: none;
			padding-inline-start: 0;
			margin: 0px;

			li {
				display: inline-block;
				position: absolute;
				bottom: 35px;

				&.next {
					right: 20px;
				}

				&.prev {
					left: 20px;
				}
			}

			input[type=submit], button.last {
				line-height: 32px;
				vertical-align: middle;
				font-weight: bold;
				display: inline;
				width: auto;
				font-size: 1.75em;
			}
		}
	}
}

.dynamic-field {
	padding: 5px;

	.dynamic-field-buttons {
		float: right;
		margin-top: -10px;

		+ div {
			clear: both;
		}

		button.arrow-button {
			$button-size: 30px;
			margin: 0;
			height: $button-size;
			width: $button-size;
			line-height: $button-size;

			svg {
				$svg-size: $button-size - 10px;
				height: $svg-size;
				width: $svg-size;
			}
		}
	}
}

.no-js {
	toggle {
		color: $color-purple-dark;
	}
}
