@import "_defaults";
@import "vue-select/src/scss/vue-select.scss";

input, select, textarea, input[type=input], .vc-reset input {
	background-color: $input-background-color;
	border-color: $color-purple-dark;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	box-sizing: border-box;
	color: inherit;
	padding: 0px 5px;
	line-height: 1;
	box-shadow: none;

	form.big &, form.single & {
		padding: 5px 10px;
	}

	form.centered & {
		display: block;
		width: 100%;
		margin-bottom: 3px;
	}

	&:focus {
		border-color: $color-purple-light;
	}

}

$check-box-size: 18px;

input[type=checkbox], input[type=radio] {
	display: inline-block;
	vertical-align: middle;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	height: $check-box-size;
	width: $check-box-size;
	cursor: pointer;
	color: $color-purple-dark;
	position: relative;
	margin-right: 10px;

	form.centered & {
		display: inline-block;
		width: $check-box-size;
	}
}

input[type=radio] {
	border-radius: 50%;
	&:checked{
		background-color: $color-purple-dark;
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			height: $check-box-size - 10px;
			width: $check-box-size - 10px;
			left: 4px;
			top: 4px;
			background-color: $input-background-color;
			border-radius: 50%;
		}

	}

	&.hidden-radio {
		$label-color: $color-purple-light;
		$label-hover-color: $color-purple-dark;

		margin: 0px;
		width: 0px !important;
		display: inline !important;
		border: none !important;



		&:focus, &:hover, &:checked {
			+ label {
				color: $label-hover-color;
			}
		}

		&:checked {
			&::after {
				display: none;
			}

			+ label {
				@media (min-width: 500px) {
					font-size: 1.2em;
				}
				font-weight: bold;
			}
		}

		&:focus + label {
			outline-width: 2px;
			outline-style: solid;
			outline-color: Highlight;

			/* WebKit gets its native focus styles.
			 */
			@media (-webkit-min-device-pixel-ratio:0) {
			    outline-color: -webkit-focus-ring-color;
			    outline-style: auto;
			    outline-width: 5px;
			}
		}

		+ label {
			cursor: pointer;
			color: $label-color;


			&:hover {
				color: $label-hover-color;
			}
		}

		.toggler & {
			+ label {
				height: 2rem;
				width: 2rem;
				line-height: 2rem;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				background-color: $background-color;
				color: $button-color;
				border: 2px solid $button-color;
				text-align: center;
				font-size: 1em;
				margin-right: 0.5em;
			}

			&:focus, &:hover, &:checked {
				+ label {
					background-color: $button-hover-color;
					color: $button-text-color;
					font-weight: normal;
					border-color: $button-hover-color;
				}
			}
		}
	}
}

input[type=checkbox] {
	&:checked::after {
		content: "";
		display: inline-block;
		border-left: 2px solid;
		border-bottom: 2px solid;
		transform: rotate(-45deg);
		position: absolute;

		height: 5px;
	    top: 2px;
	    width: 11px;
	    left: 1px;
	}
}

input[type=range] {
	-webkit-appearance: none;
	border: none;
	background: transparent;
	margin: 25px 0px 20px;

	form.centered & {
		margin-bottom: 10px;
	}

	$kit-tracks: -webkit-slider-runnable-track -moz-range-track -ms-track;
	@each $kit in $kit-tracks {
		&::#{$kit} {
			width: 100%;
			background: transparent;
			height: 10px;
			border-radius: 6px;
			background-color: $color-purple-dark;
			cursor: pointer;
			transition: all .2s ease;
			border: none;
			box-shadow: none;
		}
	}

	$kit-thumbs: -webkit-slider-thumb -moz-range-thumb -ms-thumb;
	@each $kit in $kit-thumbs {
		&::#{$kit} {
			height: 30px;
			width: 20px;
			background-color: $color-purple-light;
			box-shadow: none;
			border-radius: 5px;
			cursor: pointer;
			border: none;
		}
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-top: -10px;
	}

	&::-ms-thumb {
		background: transparent;
		color: transparent;
	}

	$ms-fills: -ms-fill-lower -ms-fill-upper;
	@each $fill in $ms-fills {
		&::#{$fill} {
			border: none;
			background: $color-purple-dark;
			box-shadow: none;
			border-radius: 10px;
		}
	}

	&:focus {
		@each $kit in $kit-tracks {
			&::#{$kit} {
				background-color: $color-purple-light;
			}
		}

		@each $thumb in $kit-thumbs {
			&::#{$thumb} {
				background-color: $color-purple-dark;
			}
		}

		@each $fill in $ms-fills {
			&::#{$fill} {
				background-color: $color-purple-light;
			}
		}
	}
}

input[type=hidden] {
	display: none !important;
}

input[disabled=disabled] {
	opacity: 0.5;
	cursor: initial;

	+ label {
		opacity: 0.5;
		cursor: initial;
	}
}

.double-prog-bar {
	$progbar-height: 15px;
	position: relative;
	background-color: $color-light-gray;
	height: $progbar-height;
	border: 1px solid $color-green-dark;
	width: 84%;
	margin: 5px 8%;


	.benchmark {
		position: absolute;
		height: $progbar-height + 10px;
		width: 6px;
		margin-left: -3px;
		top: -5px;
		background-color: $color-green-very-dark;
		z-index: 1;
	}

	.fill {
		position: absolute;
		height: 100%;
		left: 0;
		background-color: $color-green-light;
	}
}

.bool-indicator {
	height: $check-box-size;
	width: $check-box-size;
	color: $color-purple-dark;
	position: relative;
	margin-left: 5px;

	&.false:before, &.false:after {
	  position: absolute;
	  left: 7px;
	  content: '';
	  height: $check-box-size;
	  border-left: 3px solid;
	}

	&.false:before {
	  transform: rotate(45deg);
	}
	&.false:after {
	  transform: rotate(-45deg);
	}

	&.true:after {
		content: "";
		display: inline-block;
		border-left: 3px solid;
		border-bottom: 3px solid;
		transform: rotate(-40deg);
		position: absolute;

		height: 6px;
	    top: 3px;
	    width: 12px;
	    left: 1px;
	}
}
