@import "vue-select/src/scss/vue-select.scss";

$input-border-radius: 2rem;
input:not([type=submit]), select, textarea, input[type=input], .vc-reset input {
	@include themed(border-color, $input-border-key);
	background-color: $input-background-color;
	@include themed(color, $input-color-key);
	border-style: solid;
	border-radius: $input-border-radius;
	border-width: rem(1px);
	box-sizing: border-box;
	padding: 0.2rem 1rem;
	height: 2rem;
	line-height: 1;
	box-shadow: none;
	font-size: 0.75rem;

	form.big &, form.single & {
		padding: rem(5px) rem(10px);
	}

	form.centered & {
		display: block;
		width: 100%;
		margin-bottom: rem(3px);
	}

	&:focus {
		@include themed(border-color, $input-border-focus-key);
	}

}

textarea {
	height: 4rem;
	padding: 0.5rem 1rem;
}

select {
	-webkit-appearance: none;
	appearance: none;
	@include background-svg(up-down-carets(theme-light($input-border-key)));
	background-repeat: no-repeat;
	background-size: 1.5EM 1EM;
	background-position: right center;
	background-clip: border-box;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;

	&:focus, &:hover {
		@include background-svg(up-down-carets(theme-light($input-border-focus-key)));
	}
}

$check-box-size: 1.25rem;

input[type=checkbox], input[type=radio] {
	display: inline-block;
	vertical-align: middle;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	height: $check-box-size;
	width: $check-box-size;
	cursor: pointer;
	color: theme-light($input-border-key);
	position: relative;
	padding: 0;
	margin-right: rem(10px);
	border-width: rem(1.5px);

	form.centered & {
		display: inline-block;
		width: $check-box-size;
	}
}

input[type=radio] {
	border-radius: 50%;
	&:checked{
		background-color: theme-light($input-border-key);
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			height: $check-box-size - rem(10px);
			width: $check-box-size - rem(10px);
			left: rem(4px);
			top: rem(4px);
			background-color: $input-background-color;
			border-radius: 50%;
		}

	}

	&.hidden-radio {
		margin: 0rem;
		width: 0rem !important;
		display: inline !important;
		border: none !important;

		&:checked {
			&::after {
				display: none;
			}
		}

		&:focus + label {
			outline-width: rem(2px);
			outline-style: solid;
			outline-color: Highlight;

			/* WebKit gets its native focus styles.
			 */
			@media (-webkit-min-device-pixel-ratio:0) {
					outline-color: -webkit-focus-ring-color;
					outline-style: auto;
					outline-width: rem(5px);
			}
		}

		+ label {
			@include themed(color, $input-border-focus-key);
			cursor: pointer;

			&:hover {
				@include themed(color, $input-border-key);
			}
		}

		&--link {
			&:focus, &:hover, &:checked {
				+ label {
					@include themed(color, $input-border-key);
				}
			}

			&:checked + label {
				@media (min-width: rem(500px)) {
					font-size: 1.1rem;
				}
				font-weight: bolder;
			}
		}

		&--cta {
			+ label {
				$size: rem(40px);
				height: $size;
				width: $size;
				line-height: $size - 0.1rem;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				border: rem(2px) solid;
				border-color: transparent;
				text-align: center;
				margin-right: 0.5rem;
				padding: 0;
				font-weight: bolder;
				text-transform: uppercase;
				@include themed(color, "form-background");
				@include cta-transition;
			}

			&:checked {
				+ label {
					@include themed(background, "form-background");
					@include themed(color, "background");
				}
			}

			&:focus, &:hover {
				+ label {
					@include themed(border-color, "form-background");
				}
			}
		}
	}
}

input[type=checkbox] {
	border-radius: 0.25rem;
	@include themed(border-color, $input-border-focus-key);

	&::after {
		content: "";
		display: inline-block;
		border-left: rem(3px) solid;
		border-bottom: rem(3px) solid;
		transform: rotate(-45deg);
		position: absolute;
		height: $check-box-size/1.75;
		top: $check-box-size/-3.5;
		width: $check-box-size;
		left: rem(1px);
		border-color: transparent;
		transition: border-color 0.3s ease-in-out;
		border-radius: 1px;
	}

	&:checked::after {
		@include themed(border-color, $input-border-key);
	}
}

input[type=range] {
	-webkit-appearance: none;
	border: none;
	background: transparent;
	margin: rem(25px) 0 rem(20px) 0;

	form.centered & {
		margin-bottom: rem(10px);
	}

	$kit-tracks: -webkit-slider-runnable-track -moz-range-track -ms-track;
	@each $kit in $kit-tracks {
		&::#{$kit} {
			width: 100%;
			background: transparent;
			border-radius: $input-border-radius;
			height: rem(10px);
			cursor: pointer;
			transition: all .2s ease;
			border: none;
			box-shadow: none;
			@include themed(background-color, $input-border-key);
		}
	}

	$kit-thumbs: -webkit-slider-thumb -moz-range-thumb -ms-thumb;
	@each $kit in $kit-thumbs {
		&::#{$kit} {
			height: rem(30px);
			width: rem(15px);
			box-shadow: none;
			border-radius: $default-border-radius;
			cursor: pointer;
			border: none;
			@include themed(background-color, $input-border-focus-key);
		}
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-top: rem(-10px);
	}

	&::-ms-thumb {
		background: transparent;
		color: transparent;
	}

	$ms-fills: -ms-fill-lower -ms-fill-upper;
	@each $fill in $ms-fills {
		&::#{$fill} {
			@include themed(background, $input-border-key);
			border: none;
			box-shadow: none;
			border-radius: rem(10px);
		}
	}

	&:focus {
		@each $kit in $kit-tracks {
			&::#{$kit} {
				@include themed(background-color, $input-border-focus-key);
			}
		}

		@each $thumb in $kit-thumbs {
			&::#{$thumb} {
				@include themed(background-color, $input-border-key);
			}
		}

		@each $fill in $ms-fills {
			&::#{$fill} {
				@include themed(background-color, $input-border-focus-key);
			}
		}
	}
}

input[type=hidden] {
	display: none !important;
}

input[disabled=disabled] {
	opacity: 0.5;
	cursor: initial;

	+ label {
		opacity: 0.5;
		cursor: initial;
	}
}

.double-prog-bar {
	$progbar-height: rem(15px);
	position: relative;
	background-color: $color-light-gray;
	height: $progbar-height;
	border: rem(1px) solid $color-green-dark;
	width: 84%;
	margin: rem(5px) 8%;


	.benchmark {
		position: absolute;
		height: $progbar-height + rem(10px);
		width: rem(6px);
		margin-left: rem(-3px);
		top: rem(-5px);
		background-color: $color-green-very-dark;
		z-index: 1;
	}

	.fill {
		position: absolute;
		height: 100%;
		left: 0;
		background-color: $color-green-light;
	}
}

.bool-indicator {
	height: $check-box-size;
	width: $check-box-size;
	@include themed(color, $input-border-key);
	position: relative;
	margin-left: rem(5px);

	&.false:before, &.false:after {
		position: absolute;
		left: rem(7px);
		content: '';
		height: $check-box-size;
		border-left: rem(3px) solid;
	}

	&.false:before {
		transform: rotate(45deg);
	}
	&.false:after {
		transform: rotate(-45deg);
	}

	&.true:after {
		content: "";
		display: inline-block;
		border-left: rem(3px) solid;
		border-bottom: rem(3px) solid;
		transform: rotate(-40deg);
		position: absolute;
		height: rem(6px);
		top: rem(3px);
		width: rem(12px);
		left: rem(1px);
	}
}
