.link,
input[type="submit"].not-button {
	@include link;
	@include link_colors($colors-light, $property: stroke);

	&--is-secondary {
		@include link($suffix: "-light");
	}

	body.secondary & {
		@include link-colors($colors-dark);
	}

	&--no-line {
		text-decoration: none;
	}

	svg {
		stroke: inherit;
	}

	&:disabled {
		opacity: 0.5;
	}
	// body.with-cards & {
	// 	@include color-and-secondary(color, $colors-h2);
	// }
}
