// fonts
$script-font: 'Lily Script One', cursive;
$outline-font: 'Londrina Shadow', sans-serif;
$text-font: 'Hind Vadodara', sans-serif;;

// colors
$hue-purple: 316;
$color-purple-dark: hsl($hue-purple,70,19);
$color-purple-light: hsl($hue-purple,70,39);
$color-purple-very-dark: hsl($hue-purple,70,9);

$gradient-purple-0: hsl($hue-purple, 25, 80);
$gradient-purple-1: hsl($hue-purple, 25, 65);
$gradient-purple-2: hsl($hue-purple, 25, 50);
$gradient-purple-3: hsl($hue-purple, 25, 35);
$gradient-purple-4: hsl($hue-purple, 25, 20);

$gradient-purples: $gradient-purple-0 $gradient-purple-1 $gradient-purple-2 $gradient-purple-3 $gradient-purple-4;

$gradient-purples-saturated:
	scale-color($color-purple-very-dark, $lightness: 65%, $saturation: -65%),
	scale-color($color-purple-very-dark, $lightness: 50%, $saturation: -50%),
	scale-color($color-purple-very-dark, $lightness: 35%, $saturation: -35%),
	scale-color($color-purple-very-dark, $lightness: 20%, $saturation: -20%),
	$color-purple-very-dark;

$hue-green: 180;
$color-green-dark: hsl($hue-green,90,18);
$color-green-light: hsl($hue-green,95,25);
$color-green-very-dark: hsl($hue-green,89,9);

$gradient-green-0: hsl($hue-green, 25, 80);
$gradient-green-1: hsl($hue-green, 25, 65);
$gradient-green-2: hsl($hue-green, 25, 50);
$gradient-green-3: hsl($hue-green, 25, 35);
$gradient-green-4: hsl($hue-green, 25, 20);

$gradient-greens: $gradient-green-0 $gradient-green-1 $gradient-green-2 $gradient-green-3 $gradient-green-4;

$gradient-greens-saturated:
	scale-color($color-green-very-dark, $lightness: 65%, $saturation: -65%),
	scale-color($color-green-very-dark, $lightness: 50%, $saturation: -50%),
	scale-color($color-green-very-dark, $lightness: 35%, $saturation: -35%),
	scale-color($color-green-very-dark, $lightness: 20%, $saturation: -20%),
	$color-green-very-dark;

$color-black: rgb(55,50,50);
$color-off-white: #F3F3F3;
$color-light-gray: hsl($hue-purple,5,85);
$color-dark-gray: hsl($hue-green,3,20);

// widget colors
$background-color: #fcfcfc;
$button-color: $color-purple-light;
$button-hover-color: $color-purple-dark;
$button-text-color: $background-color;
$link-color: $color-green-light;
$link-hover-color: $color-green-dark;

// input defaults
$input-background-color: $color-off-white;
$input-border-color: $color-purple-dark;
$input-border-color-focus: $color-purple-light;

// sizing
$nav-width: 250px;

.clear-fix{
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
