@import "_defaults";

input:not([type=hidden]), select, textarea {
	background-color: $color-off-white;
	border-color: $color-purple-dark;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	box-sizing: border-box;

	form.big & {
		padding: 5px 10px;
	}

	form.centered & {
		display: block;
		width: 100%;
		margin-bottom: 3px;
	}

	&:focus {
		border-color: $color-purple-light;
	}

}

input[type=submit] {
	background-color: $color-purple-light;
	border-color: $color-purple-light;
	color: $background-color;
	padding: 5px 10px;
	transition: 0.1s linear all;
	cursor: pointer;

	&:hover {
		background-color: $color-purple-dark;
		border-color: $color-purple-dark;
	}

	form.centered & {
		margin-top: 10px;
	}
}

form.centered {
	max-width: 400px;
	margin: 0px auto;

	label {
		display: block;
		line-height: 1;
	}

	.additional {
		text-align: right;

		p {
			margin: 0;
		}
	}

	div.errors {
		text-align: center;
	}
}

form {
	div.field-errors {
		text-align: right;
		color: $color-purple-light;
		font-size: 12px;
		line-height: 1;
	}

	div.errors {
		color: $color-purple-light;
	}
}



