@import "_defaults";

$input-background-color: $color-off-white;
input, select, textarea {
	background-color: $input-background-color;
	border-color: $color-purple-dark;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
	box-sizing: border-box;

	form.big & {
		padding: 5px 10px;
	}

	form.centered & {
		display: block;
		width: 100%;
		margin-bottom: 3px;
	}

	&:focus {
		border-color: $color-purple-light;
	}

}

$check-box-size: 18px;

input[type=checkbox], input[type=radio] {
	display: inline-block;
	vertical-align: middle;

	form.centered & {
		display: inline-block;
		width: $check-box-size;
	}
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	height: $check-box-size;
	width: $check-box-size;
	cursor: pointer;
	color: $color-purple-dark;
	position: relative;
	margin-right: 10px;

	&:checked::after {
		content: "";
		display: inline-block;
		border-left: 2px solid;
		border-bottom: 2px solid;
		transform: rotate(-45deg);
		position: absolute;

		height: 5px;
	    top: 2px;
	    width: 11px;
	    left: 1px;
	}
}

button:not(.not-button), input[type=submit]:not(.not-button) {
	background-color: $color-purple-light;
	border-color: $color-purple-light;
	color: $background-color;
	padding: 5px 10px;
	transition: 0.1s linear all;
	cursor: pointer;

	&:hover, &:focus {
		background-color: $color-purple-dark;
		border-color: $color-purple-dark;
	}

	form.centered & {
		margin-top: 10px;
	}
}

input[type=hidden] {
	display: none !important;
}

form.centered {
	max-width: 400px;
	padding: 0px 15px;
	margin: 0px auto;

	h2, p.description, div.errors {
		text-align: center;
	}

	h2.with-desc {
		margin-bottom: 0.25em;
	}

	p.description {
		margin-top: 0;
	}

	label {
		display: block;
		line-height: 1;
	}

	.additional {
		text-align: right;

		p {
			margin: 0;
		}
	}
}

form {
	div.field-errors {
		text-align: right;
		color: $color-purple-light;
		font-size: 12px;
		line-height: 1;
	}

	div.errors {
		color: $color-purple-light;
	}
}

.field {
	> .toggle {
		display: inline;
		font-size: 30px;
		font-weight: bold;
		color: $color-purple-dark;
		vertical-align: middle;
		line-height: 16px;
		margin-right: 5px;

		&:hover, &:focus {
			color: $color-purple-light;
		}
	}

	&.inline {
		label, input {
			display: inline-block;
			margin-right: 10px;
		}

		.tooltip {
			float: right;

			.tooltip-icon {
				top: -5px;
			}
		}
	}
}

form .tooltip {
	color: $color-green-dark;
	font-size: 14px;
	line-height: 1.25;
	margin: 3px auto;
}

