@import "_defaults";

nav {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 1;
	float: left;

	.burger {
		margin: 10px;
		width: 35px;
		border: 2px solid $button-color;
		border-radius: 5px;
		position: relative;
		z-index: 2;
		padding: 0px;
		box-sizing: content-box;

		.burger-line {
			height: 3px;
			background-color: $button-color;
			margin: 6.5px 5px;
		}

		.no-js & {
			display: none;
		}
	}

	&.open .burger, .burger:hover, .burger:focus {
		background-color: $button-hover-color;
		border-color: $button-hover-color;

		.burger-line {
			background-color: $background-color;
		}
	}

	&.open .menu {
		width: $nav-width;
		display: block;

		@keyframes slidein {
			0% {
				display: none;
				width: 0px;
			}
			1% {
				display: block;
			}
			100% {
				width: $nav-width;
			}
		}
		animation: slidein 0.3s ease-in;
	}

	&.closed .menu {
		@keyframes slideout {
			0% {
				display: block;
				width: $nav-width;
			}
			99% {
				display: block;
			}
			100% {
				display: none;
				width: 0px;
			}
		}

		animation: slideout 0.3s ease-in;
		animation-fill-mode: both;
		display: none;
		width: 0px;
	}

	.menu {
		overflow: hidden;
		position: absolute;
		padding-top: 57px;
		top: 0px;

		margin: 0px;
		z-index: 1;
		height: 100vh;
		box-sizing: border-box;

		.no-js & {
			position: static;
		}
	}

	ul {
		padding-inline-start: 0px;
		margin: 0px;
		width: $nav-width;
		background-color: $color-purple-dark;
		height: 100%;
	}

	li {
		list-style: none;
		font-size: 26px;
		color: $color-light-gray;
		line-height: 26px;

		&.no-link {
			padding: 15px 10px 10px;
			color: $color-green-light;
		}

		span {
			background-color: $color-purple-light;
		}

		a, span {
			text-decoration: none;
			color: $color-off-white;
			display: block;
			height: 100%;
			padding: 15px 5px 15px 15px;
		}

		a:hover, a:focus{
			// font-size: 30px;
			background-color: rgba($color-purple-light, 0.5);
		}
	}
}
