@import "_defaults";

nav {
	position: relative;
	left: 0rem;
	top: 0rem;
	z-index: 100;
	float: left;

	.burger {
		margin: .625rem;
		width: 2.188rem;
		border: .125rem solid $button-color;
		border-radius: .313rem;
		position: relative;
		z-index: 2;
		padding: 0rem;
		box-sizing: content-box;

		.burger-line {
			height: .188rem;
			background-color: $button-color;
			margin: .406rem .313rem;
		}

		.no-js & {
			display: none;
		}

		&.open, &:hover, &:focus {
			background-color: $button-hover-color;
			border-color: $button-hover-color;

			.burger-line {
				background-color: $background-color;
			}
		}
	}

	.menu {
		overflow: hidden;
		position: absolute;
		padding-top: 3.563rem;
		top: 0rem;

		margin: 0rem;
		z-index: 1;
		height: 100vh;
		box-sizing: border-box;
		display: none;

		.no-js & {
			position: static;
			display: block;
		}
	}

	ul {
		padding-inline-start: 0rem;
		margin: 0rem;
		width: $nav-width;
		background-color: $color-purple-dark;
		height: 100%;
	}

	li {
		list-style: none;
		font-size: 1.625rem;
		line-height: 1.625rem;

		&.no-link {
			padding: 1rem .625rem .625rem;
			color: $color-green-light;
		}

		form>input[type=submit].not-button {
			background-color: transparent;
			width: 100%;
			text-align: inherit;
		}

		a, span, form>input[type=submit].not-button {
			text-decoration: none;
			color: $color-light-gray;
			display: block;
			height: 100%;
			padding: 1rem .313rem 1rem 1rem;
		}

		a, form>input[type=submit].not-button {
			&:hover, &:focus {
				background-color: rgba($color-purple-light, 0.5);
				color: $color-off-white;
			}
		}

		span {
			background-color: $color-purple-light;
			color: $color-off-white;
		}
	}
}
