$script-font: 'Lily Script One', cursive;
$outline-font: 'Londrina Shadow', cursive;
$text-font: 'Fanwood Text', serif;
$old-main: #083a34;
$main: #4c001d;
$color-pop: #9e003c;
$dark: #0f140b;
$crossover: rgba(33,32,35,0.7);
$light: lighten($main, 78);
$contrast: lighten(saturate($main, 24), 11);
$off-white: lighten(desaturate($main, 75), 83);
$grey: desaturate(lighten($main, 75), 95);
$pop-light: lighten(saturate($color-pop, 9), 46);
$dash-width: 4px;
$nav-width: 15%;
$nav-offset: 40px;
$nav-depth: 60px;
$nav-height: $nav-depth + $nav-offset;
$right-depth: 250px;
$right-width: $right-depth + $nav-offset;
$center-width: 55%;
$offset: 20px;
$standard: 18px;
$option-size: 200px;
$icon-size: 100px;
#container {
  width: 100%;
}
#flash {
  margin: 0px auto;
  padding-top: 10px;
  text-align: center;
  color: $color-pop;
}
body {
  font-family: $text-font;
  background-color: $grey;
  font-size: 18px;
  h2 {
    font-size: 28px;
  }
}
a {
  text-decoration: none;
  color: $color-pop;
}
.nav {
  position: fixed;
  width: 100%;
  height: $nav-depth;
  margin-top: $nav-offset;
  padding-left: $nav-offset;
  z-index: 1;
  background-color: $crossover;
  color: $contrast;
  #menu {
    width: 80%;
    display: inline-block;
    text-align: right;
    margin-right: 5%
  }
  h1 {
    margin-bottom: -22px;
    font-size: 48px;
  }
  #logo {
    margin-left: 30px;
    margin-right: 60px;
    display: inline-block;
    text-align: right;
    font-size: 45px;
    width: 160px;
    font-family: $script-font;
    color: $color-pop;
    span {
      font-family: $outline-font;
      padding-right: 10px;
      font-size: 50px;
    }
    a {
      color: $color-pop;
    }
  }
  ul {
    display: inline-block;
    width: 65%;
    margin-left: 10px;
  }
  li {
    font-size: 25px;
    color: $off-white;
    display: inline-block;
    margin: 0px 20px;
  }
  a {
    color: $grey;
  }
}

.center {
  padding: $offset;
  margin-top: $nav-height;
  margin-left: $right-width;
  width: $center-width;
  display: inline-block;
  text-align: left;
  color: $dark;
  height: 100%;
  font-size: 20px;
  h1 {
    font-size: 40px;
    color: $main;
  }
  h2 {
    font-size: 32px;
    color: $main;
  }
  a {
    color: $main;
  }
  ul {
    margin-left: $offset;
  }
  strong {
    font-size: 24 px;
    color: $main;
  }
  textarea {
    height: 50px;
    width: 255px;
  }
}
.right {
  position: fixed;
  display: inline-block;
  width: $right-depth;
  margin-left: $nav-offset;
  margin-top: -10px;
  background-color: $crossover;
  color: $dark;
  overflow: scroll;
  height: 100%;
  // margin-right: $dash-width;
  ul {
    width: 80%;
    margin: 5px auto;
  }
  #wrapper {
    padding-top: $nav-height;
    margin: 5%;
    p {
      font-size: 20px;
    }
  }
}
.dashes {
  width: $dash-width;
  position: fixed;
  margin-left: $right-width;
  margin-top: -10px;
  display: inline-block;
  height: 120%;
  border-left: 1px dashed $grey;
  border-right: 2px dashed $grey;
  background-color: $crossover;
  z-index: 2;
}

.poz {
  color: #7A0D0E;
}

.neg {
  color: #009400;
}

.low {
  color: #009400;
}

.medium {
  color: #FF9B0D;
}

.high {
  color: #7A0D0E;
}

.hidden {
  display: none;
}

ul.encounters {
  li:before {
    content: ".";
    font-size: 80px;
  }
  li {
    // padding-bottom: 16px;
    line-height: 18px;
    // margin-left: 20px;
  }
}
.normal {
  color: $dark;
  font-size: 18px;
  line-height: 18px;
}

.scroller, .risk {
  display: none;
}
.alert {
  color: $color-pop;
}
.highlight {
  color: $pop-light;
}

.bubble {
  background-color: $off-white;
  border-radius: 10px;
  padding: 10px;
}

.option {
  height: $option-size;
  width: $option-size;
  display: inline-block;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  vertical-align: top;
  p {
    padding-top: 15px;
    vertical-align: middle;
  }
}

.icon {
  height: $icon-size;
  width: $icon-size;
  margin-top: 20px;
}

.response {
  display: inline-block;
  min-width: 75px;
  min-height: 30px;
  text-align: center;
  span {
    vertical-align: middle;
  }
  .continue {
    display: none;
  }
}
