// Place all the styles related to the encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_defaults";
.contact-field-container {
	.contact-field {
		display: flex;

		.field-section {
			float: left;
			margin-right: 5px;

			p {
				line-height: 1em;
				margin: 0.15em 0 0;
				font-size: inherit;
			}

			.input {
				line-height: 1.25em;
			}
		}
	}

	&.blurred {
		.contact-field {
			flex-wrap: wrap;
			color: $color-purple-dark;

			p {
				margin-top: 0;
				line-height: 1.25em;
			}
		}

		input[type=radio], input[type=checkbox] {
			&:checked + label {
				font-size: 1em;
				font-weight: normal;
			}

			&:not(:checked) + label {
				display: none;
			}
		}

		.contact-barriers > div {
			font-size: 0.85em;
			display: flex;
			flex-wrap: wrap;

			input[type=checkbox] {
				border: none;
				margin: 0;

				&:checked {
					background-color: transparent;
					height: 6px;
					width: 6px;

					&::after {
						background-color: $color-purple-dark;
						height: 100%;
						width: 100%;
						transform: none;
						border-radius: 50%;
						border: none;
						top: 0px;
						left: 0px;
					}

					+ label {
						margin-right: 10px;
					}
				}

				&:not(:checked) {
					height: 0px;
					width: 0px;
					display: inline;

					&::after {
						display: none;
					}
				}
			}
		}
	}

	.contact-barriers {
		display: flex;

		> div {
			float: left;
			margin-right: 5px;

			label {
				display: inline
			}

			input[type=checkbox] {
				margin-right: 0px;
			}
		}
	}
}
