// Place all the styles related to the encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_defaults";
.contact-field-container {
	.contact-field {
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		.field-section {
			float: left;
			margin-right: 5px;

			p {
				line-height: 1em;
				margin: 0.15em 0 0;
				font-size: inherit;
			}

			.input label {
				line-height: 1.25;
			}
		}
	}

	&.blurred {
		.contact-field {
			flex-wrap: wrap;
			color: $color-purple-dark;
			justify-content: flex-start;

			p {
				margin-top: 0;
				line-height: 1.25em;
			}
		}

		input[type=radio], input[type=checkbox] {
			&:checked + label {
				font-size: 1em;
				font-weight: normal;
			}

			&:not(:checked) + label {
				display: none;
			}
		}

		.contact-barriers > div {
			font-size: 0.85em;
			display: flex;
			flex-wrap: wrap;

			input[type=checkbox] {
				border: none;
				margin: 0;

				&:checked {
					background-color: transparent;
					height: 6px;
					width: 6px;

					&::after {
						background-color: $color-purple-dark;
						height: 100%;
						width: 100%;
						transform: none;
						border-radius: 50%;
						border: none;
						top: 0px;
						left: 0px;
					}

					+ label {
						margin-right: 10px;
					}
				}

				&:not(:checked) {
					height: 0px;
					width: 0px;
					display: inline;

					&::after {
						display: none;
					}
				}
			}
		}
	}

	.contact-barriers {
		display: flex;

		> div {
			float: left;
			margin-right: 5px;

			label {
				display: inline
			}

			input[type=checkbox] {
				margin-right: 0px;
			}
		}
	}
}

.encounter-show-container {
	position: relative;
	> span.dropdown-button {
		position: absolute;
		right: 8px;
		top: 8px;

		button.arrow-button {
			height: 30px;
			width: 30px;
			line-height: 30px * .80;
		}
	}

	>.dropdown-content {
		padding: 0px 10px;
	}
}

.contacts-show {
	padding-inline-start: 0px;

	.contact-show {
		clear: both;
		margin-bottom: 5px;

		>.dropdown {
			transition: all 0.3s ease-in-out;
			border-bottom: 1px solid $color-green-dark;

			&:after {
				clear: both;
				display: block;
				content: "";
			}

			&.open {
				padding: 5px;

				.dropdown-title {
					font-size: 1.2em;
					margin-bottom: 0.5em;
				}
			}
		}

		.dropdown-title {
			float: left;
			width: 75%;
		}
		.dropdown-button {
			float: right;
			width: 20%;
			text-align: right;
		}

		.dropdown-content {
			clear: both;
		}
	}
}

.risks-show {
	clear: both;
	padding-inline-start: 0px;
	list-style-type: none;

	li {
		@extend .clear-fix;
		padding: 5px 10px;
		font-size: 1.1em;

		&:first-child {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		&:last-child {
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		@for $i from 1 through 5 {
			&.risk-#{$i - 1} {
				background-color: nth($gradient-greens, $i);
				@if $i < 4 {
					color: black;
				}
				@else {
					color: white;
				}
			}
		}

		.risk-level {
			font-weight: bold;
			font-size: 1.15em;
			float: left;
			width: 30%;
		}

		.diagnoses {
			float: right;
			width: 70%;
			text-align: right;
		}
	}
}

.schedule-show {
	padding-inline-start: 0px;
	list-style-type: none;

	li {
		@extend .clear-fix;
		display: flex;
		align-items: center;

		.schedule-date {
			border: 2px solid $color-dark-gray;
			margin-bottom: 10px;
			text-align: center;
			width: 3.5em;
			height: 3.5em;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			background-color: $background-color;
			flex-shrink: 0;

			.month-year {
				background-color: $color-dark-gray;
				font-size: 1.15em;
			}

			.day {
				color: $color-black;
				font-weight: bold;
				font-size: 1.5em;
				flex-grow: 1;
				display: flex;
				align-items: center;

				span {
					display: inline-block;
					margin: 0px auto;
				}
			}
		}

		.schedule-diagnoses {
			flex-grow: 1;
			margin-left: 20px;
			font-size: 1.5em;
		}
	}
}

#page-container #page-container-inner #encounter-calendar {
	.popover-day-title {
		text-align: center;
		font-size: 1.15em;
	}

	.encounter-partner-name {
		margin-right: 5px;
	}

	.vc-bars {
		box-shadow: 1px 0px 2px 0px rgba(255,255,255,.1), 0px 1px 5px 0px rgba(255,255,255,.1);
	}

	.encounter-contact-toggle {
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.partner-indicator {
		display: inline-block;
		height: 1.15em;
		width: 2em;
		vertical-align: middle;
		margin-right: 0.5em;
		margin-bottom: 0.175em;
	}

	.encounter-list-item {
		.item-partner {
			font-weight: bold;
		}

		.item-date {
			font-size: 1rem;
		}
	}
}
