@import "_defaults";

html, body {
	height: 100%;
}

body {
	font-family: $text-font;
	color: $color-black;
	background-color: $background-color;
	font-size: 0.95em;

	&.with-cards {
		background-color: $colors1-background-secondary;
		color: $color-white;

		.card {
			background-color: $background-color;
			color: $color-black;
		}
	}

	&.secondary {
		background-color: $colors2-background;
		color: $color-white;

		&.with-cards {
			background-color: $colors2-background-secondary;

			.card {
				background-color: $colors2-background;
				color: $color-white;
			}
		}
	}
}

h1 {
	font-family: $header-font;
	font-size: 2.45em;
	color: $colors1-h1;
	text-align: center;

	body.secondary &, body.secondary.with-cards .card &{
		color: $colors2-h1;
	}

	body.secondary.with-cards & {
		color: $colors1-h1;
	}
}

h2 {
	color: $colors1-h2;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;

	body.secondary & {
		color: $colors2-h2;
	}
}

header {
	text-align: center;
}

main {
	clear: both;
	padding: 10px;
	opacity: 0;

	.no-js & {
		opacity: 1;
	}
}

ul {
	&.no-dots li {
		list-style-type: none;
	}
}

h2.with-desc {
	margin-bottom: 0.25em;
}

p.description {
	margin-top: 0;
}

.card {
	border-radius: $stn-border-radius;
}

.centered-text {
	text-align: center;
}

.with-js noscript {
	display: none;
}

.no-js {
	header.small {
		position: absolute;
		margin-left: 10px;
	}

	header.small + main {
		float: right;
		clear: none;
		width: calc(100% - #{$nav-width});
		box-sizing: border-box;
	}

	.js-only {
		display: none !important;
	}
}

#no-js-warning {
	text-align: center;
	font-weight: bold;
	border: 1px solid $color-green-light;
}

#flash {
	text-align: center;
	font-weight: bold;

	> div {
		padding: 0.25rem;
		border: 3px solid transparent;
	}

	.flash-notice {
		border-color: $color-green-dark;
	}

	.flash-alert {
		border-color: $color-purple-light;
	}

	.flash-error {
		border-color: $color-purple-dark;
	}

	.flash-message {
		border-color: $color-green-light;
	}
}

.aria-only {
	font-size: 0px;
}

.clear {
	clear: both;
}

#logo {
	font-family: $header-font;
	font-size: 55px;
	color: $colors1-button-primary;
	text-decoration: none;

	body.with-cards & {
		color: $colors1-background;
	}

	body.secondary & {
		color: $colors2-button-secondary;
	}

	body.secondary.with-cards & {
		color: $colors2-background;
	}

	header.small & {
		text-align: left;
		font-size: 39px;
		float: left;
		padding-top: 10px;

		span {
			font-size: 41px;
		}
	}
}

#flash {
	clear: both;
}

#vue-container {
	body.vertical-center & {
		display: flex;
		flex-direction: column;
		align-items:  stretch;
		justify-content: space-around;
		height: 100%;
		width: 100%;

		header {
			flex-grow: 1;
			display: flex;
			align-self: center;
			align-items: center;
		}

		main {
			flex-grow: 2;
		}
	}
}

#page-container-inner {
	max-width: 1000px;
	margin: 0px auto;
}

.centered-container {
	text-align: center;
}

.desc {
	h1 + &, h2 + & {
		line-height: 1;
		margin-top: -1em;
		margin-bottom: 1em;
	}
}

span.confirmation {
	display: block;
}

.edit-button {
	float: right;
}

.rounded-container {
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	.rounded-container-title {
		text-align: center;
		margin: 0 0 0.2em 0;
	}
}

.dark-container {
	@extend .rounded-container;
	background-color: $color-purple-dark;
	color: $color-off-white;

	button.arrow-button.primary svg {
		&:hover, &:focus {
			stroke: $color-purple-light;
		}
	}
}

.light-container {
	@extend .rounded-container;
	background-color: $color-purple-light;
	color: $color-off-white;

	button.arrow-button.primary svg {
		&:hover, &:focus {
			stroke: $color-purple-dark;
		}
	}
}

.gray-container {
	@extend .rounded-container;
	background-color: $color-light-gray;

	button.arrow-button.primary svg {
		stroke: $color-purple-light;

		&:hover, &:focus {
			stroke: $color-purple-dark;
		}
	}
}

.dark-gray-container {
	@extend .rounded-container;
	background-color: $color-dark-gray;
	color: $color-off-white;
}

.dark-border-container {
	@extend .rounded-container;
	border: 2px solid $color-purple-dark;
}

.light-border-container {
	@extend .rounded-container;
	border: 2px solid $color-purple-light;
}

.gray-border-container {
	@extend .rounded-container;
	border: 2px solid $color-light-gray;
}

.bubble-container {
	height: 1.9em;
	position: relative;
	$arrow-size: 8px;

	.bubble {
		border-radius: 8px;
		padding: 0px 5px;
		display: inline-block;
		border: 1px solid $color-green-dark;
		color: $color-green-dark;
		font-size: 0.8em;
		position: absolute;
		max-width: 80vw;

		.arrow {
			content: "";
			position: absolute;
			border: $arrow-size solid transparent;
		}

		&.bubble-below {
			margin-top: $arrow-size;
			.arrow{
				top: $arrow-size * -2;
				border-bottom-color: $color-green-dark;
			}
		}

		&.bubble-above .arrow {
			bottom: $arrow-size * -2;
			border-top-color: $color-green-dark;
		}

		&.right-justify {
			margin-left: $arrow-size * 2;
			.arrow {
				right: $arrow-size;
			}
		}

		&.left-justify {
			margin-left: $arrow-size * -2;
			.arrow {
				left: $arrow-size;
			}
		}

		&.center-justify {
			.arrow {
				left: 50%;
				margin-left: -$arrow-size;
			}
		}
	}
}

.columns {
	display: flex;
}

.vertical-center {
	display: flex;
	align-items: center;
	align-content: center;
}
