@import "_defaults";

html, body {
	height: 100%;
}

body {
	font-family: $text-font;
	color: $color-black;
	background-color: $background-color;
}

h1 {
	font-weight: unset;
	font-size: 40px;
	color: $color-purple-dark;
}

h2 {
	color: $color-green-dark;
}

header {
	text-align: center;
}

main {
	clear: both;
	padding: 10px;
}

a, button.not-button, input[type=submit].not-button, button.as-link {
	color: $link-color;
	cursor: pointer;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	&:hover, &:focus {
		color: $link-hover-color;
	}
}

button.not-button, button.as-link, input[type=submit].not-button {
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	padding: 0px;
}

button.as-link {
	text-decoration: underline;
}

button:not(.not-button):not(.as-link), input[type=submit]:not(.not-button), a.as-button {
	background-color: $button-color;
	border-color: $button-color;
	color: $button-text-color;
	padding: 5px 10px;
	transition: 0.1s linear all;
	cursor: pointer;

	&:hover, &:focus {
		background-color: $button-hover-color;
		border-color: $button-hover-color;
	}

	form.centered & {
		margin-top: 10px;
	}
}

a.as-button {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	justify-content: center
}

.with-js noscript {
	display: none;
}

.no-js {
	header.small {
		position: absolute;
		margin-left: 10px;
	}

	header.small + main {
		float: right;
		clear: none;
		width: calc(100% - #{$nav-width});
		box-sizing: border-box;
	}

	.js-only {
		display: none !important;
	}
}

#no-js-warning {
	text-align: center;
	font-weight: bold;
	border: 1px solid $color-green-light;
}

.aria-only {
	font-size: 0px;
}

.clear-fix:after {
	content: "";
	display: block;
	clear: both;
}

#logo {
	font-family: $script-font;
	font-size: 55px;
	color: $color-purple-light;
	text-decoration: none;

	span {
		font-family: $outline-font;
		font-size: 58px;
		color: $color-purple-dark;
	}

	header.small & {
		text-align: left;
		font-size: 39px;
		float: left;
		padding-top: 10px;

		span {
			font-size: 41px;
		}
	}
}

#flash {
	clear: both;
}

#page-container {
	opacity: 0;
	max-width: 1000px;
	margin: 0px auto;

	.no-js & {
		opacity: 1;
	}
}

.centered-container {
	text-align: center;
}

.desc {
	h1 + &, h2 + & {
		line-height: 1;
		margin-top: -1em;
		margin-bottom: 1em;
	}
}
