@media (max-width: 750px) {
  .right {
    display: none;
  }
  .center {
    margin-left: 10px;
    width: 85%;
  }
  .dashes {
    display: none;
    margin-left: 10px;
    width: 8px;
  }
  .nav {
    height: 28px;
    position: absolute;
    padding-left: 0px;
    width: 101%;
    #logo {
      display: none;
      width: 0px;
      a {
        display: none;
      }
    }
    #mobile-logo {
      display: inline-block;
    }
    ul {
      padding-top: 3px;
      margin-left: -5px;
      width: 80%;
    }
    li {
      font-size: 20px;
      margin-left: 0px;
    }
  }
  .center {
    margin-top: 60px;
    margin-left: 0px;
    width: 87%;
  }
  .info {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .nav {
    li {
      a{
        font-size: 14px;
      }
      margin-left: 1.5%;
      margin-right: 0px;
    }
  }
}
