// Place all the styles related to the whos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_defaults";

#who_form {
	ul {
		padding-inline-start: 0rem;
		display: inline-block;
		margin: 0rem auto;

		li {
			list-style-type: none;
		}
	}

	.button-list li {
		float: left;
		margin: 0rem rem(20px);
	}

	button, input[type=submit], a {
		width: rem(85px);
		height: rem(85px);
		border-radius: 50%;
		padding: 0rem;
		font-size: 1.15rem;
	}

	a:not(.as-button), button.as-link {
		height: auto;
		width: auto;
	}

	form, .options {
		margin-bottom: rem(10px);
	}

	form {
		input {
			display: inline-block;
		}

		#partnership_uid, #uid-error {
			width: rem(150px);
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}
