body {
  // background-color: #fff;
  // color: #333;
  // margin: 33px;
  // font-family: verdana, arial, helvetica, sans-serif;
  // font-size: 13px;
  // line-height: 18px;
}

p, ol, ul, td {
  // font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.813rem;
  line-height: 1.125rem;
}

pre {
  background-color: #eee;
  padding: 0.625rem;
  font-size: 0.688rem;
}

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

th {
  padding-bottom: .313rem;
}

td {
  padding: 0 .313rem 0.438rem;
}

// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

#notice {
  color: green;
}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

#error_explanation {
  width: 28.125rem;
  border: .125rem solid red;
  padding: 0.438rem 0.438rem 0;
  margin-bottom: 1.25rem;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: .313rem .313rem .313rem 1rem;
    font-size: .75rem;
    margin: -0.438rem -0.438rem 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: .75rem;
    list-style: square;
  }
}

label {
  display: block;
}
