// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_defaults";

.login {
	padding: rem(20px);
	padding-top: 0rem;

	h1 {
		text-align: center;
		margin: 0rem 0rem rem(10px);
	}

	label {
		text-transform: uppercase;
	}
}
