.columns {
	.column {
		padding: 0rem 2.5rem 2rem;
	}
	.landing-text {
		flex-basis: 1.5;
	}

	.login {
		flex-basis: 1;
		flex-shrink: 0;
	}

	@media (max-width: 31.25 * $root-font-size) {
		flex-direction: column;

		.column {
			padding: 0rem 1rem 1rem;
		}

		.login {
			padding-bottom: 2.5rem;
		}
	}
}
