// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
	padding: 1.25rem;
	padding-top: 0rem;

	h1 {
		text-align: center;
		margin: 0rem 0rem 0.625rem;
	}

	label {
		text-transform: uppercase;
	}
}
