// Place all the styles related to the UserProfile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_defaults";

ul.dash-buttons {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	padding-inline-start: 0;
	max-width: 50rem;
	margin: 0 auto;

	li {
		flex-basis: 50%;
		flex-shrink: 0;
		flex-grow: 0;
		padding: 1rem;
		box-sizing: border-box;
		width: 0;

		a {
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 50% 0;
			height: 0px;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;

			h2 {
				font-size: 3rem;
				text-transform: none;
				color: inherit;

				@media (max-width: 500px) {
					font-size: 1.5rem;
				}
			}
		}
	}
}
