<ul class="footer <%= content_for :footer_class %>">
	<li class="footer__item">
		<a class="footer__link" href="">Request a feature</a>
	</li>
	<span class="footer__divider">|</span>
	<li class="footer__item">
		<a href="" class="footer__link">Report a bug</a>
	</li>
	<br>
	<li class="footer__item">
		<a href="" class="footer__link">STI Resources</a>
	</li>
	<span class="footer__divider">|</span>
	<li class="footer__item">
		<a href="" class="footer__link">About</a>
	</li>
	<span class="footer__divider">|</span>
	<li class="footer__item">
		<a href="" class="footer__link">FAQ</a>
	</li>
</ul>
