<% if current_user %>
<nav-component inline-template>
<div id="nav" :class="{open: isOpen}">

  <div class="burger" @click.stop="toggleMenu">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
  </div>
  <div class="menu" ref="menu">
    <ul>
      <li class="no-link"><%= current_user.name %></li>
      <% {"Dashboard" => user_profile_path, "Edit Profile" => edit_user_profile_path}.each do |key, path| %>
        <li>
          <%= link_to_unless_current(key, path) do %>
          <span> <%= key %> </span>
          <%end%>
        </li>
      <% end %>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  </div>
</div>
</nav-component>
<% end %>
