<% body_class 'body--is-first-time' %>
<% content_for :header do %>
	<header class="header--has-no-nav">
		<span id="logo">BedPost</span>
	</header>
<% end %>

<%= render template: "layouts/application" %>
