<% body_class 'body--has-no-auth body--has-footer' %>
<% content_for :header_class, 'header--is-big' %>

<% content_for :footer do %>
	<nav>
		<% content_for :footer_class, 'footer--is-at-bottom' %>
		<%= render partial: 'footer' %>
	</nav>
<% end %>

<%= render template: "layouts/application" %>
