<% body_class 'body--has-no-auth' %>
<% content_for :header do %>
	<header class="header--is-big">
		<span id="logo">BedPost</span>
	</header>
<% end %>

<%= render template: "layouts/application" %>
