<% body_class 'body--without-auth' %>
<% content_for :header do %>
	<header class="header--big">
		<span id="logo">Bed<span>Post</span></span>
	</header>
<% end %>

<% content_for :main  do %>
	<%= yield %>
<% end %>

<%= render template: "layouts/application" %>
